<div *ngIf="aliasTipoDocumento" class="container">
  <h3 class="m-top-and-bottom-2">Alias Tipo Documento</h3>
  <hr />
  <dl>
    <dt>ID</dt>
    <dd>{{ aliasTipoDocumento._id }}</dd>

  
    <dt>Item Lista Tipo Documento</dt>
    <dd>{{ aliasTipoDocumento.itemListaTipoDocumento }}</dd>

    <dt>Nuevo</dt>
    <dd>{{ aliasTipoDocumento.nuevo }}</dd>

    <dt>Observaciones</dt>
    <dd>{{ aliasTipoDocumento.observaciones }}</dd>

    <dt>Alias Bukeala</dt>
    <dd>{{ aliasTipoDocumento.aliasBukeala }}</dd>

    <dt>Alias Contabilidad</dt>
    <dd>{{ aliasTipoDocumento.aliasContabilidad }}</dd>

    <dt>Fecha Registro</dt>
    <dd>{{ aliasTipoDocumento.fechaRegistro }}</dd>

    <dt>Login Registro</dt>
    <dd>{{ aliasTipoDocumento.loginRegistro }}</dd>

    <dt>Alias Cliente</dt>
    <dd>{{ aliasTipoDocumento.aliasCliente }}</dd>

    <dt>Alias Ce</dt>
    <dd>{{ aliasTipoDocumento.aliasCe }}</dd>

    <dt>Aliasbh</dt>
    <dd>{{ aliasTipoDocumento.aliasbh }}</dd>

    <dt>Jerarquia</dt>
    <dd>{{ aliasTipoDocumento.jerarquia }}</dd>

    <dt>Alias Dispen</dt>
    <dd>{{ aliasTipoDocumento.aliasDispen }}</dd>

    <dt>Alias Validador</dt>
    <dd>{{ aliasTipoDocumento.aliasValidador }}</dd>

    <dt>Alias Pines</dt>
    <dd>{{ aliasTipoDocumento.aliasPines }}</dd>

  </dl>
  <a routerLink="update" class="btn btn-primary"><i class="fa fa-refresh fa-fw"></i>Actualizar</a>

</div>
