<div class="container m-top-and-bottom">
  <div class="card">
    <div class="card-header text-white text-center bg-dark">
      <h4>{{ crudOperationTitle }} Codigo Dia</h4>
    </div>
    <div class="card-body">
      <form #myForm="ngForm">
        <div class="row">
          <div *ngIf="codigoDia && codigoDia._id" class="col-md-12 form-group">
            <label for="field_id">ID</label>
            <input id="fiel_id" *ngIf="codigoDia" type="text" class="form-control" name="id" [(ngModel)]="codigoDia._id" disabled required>
          </div>
          
          
          <div class="col-12 form-group">
  <label for="field_fechaDia">Fecha Dia</label>
  <input type="date" id="field_fechaDia" *ngIf="codigoDia" class="form-control" name="fechaDia" [(ngModel)]="codigoDia.fechaDia"  />
  <input type="date" id="field_fechaDia" *ngIf="!codigoDia" class="form-control" name="fechaDia" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_codigo">Codigo</label>
  <input type="text" id="field_codigo" *ngIf="codigoDia" class="form-control" name="codigo" [(ngModel)]="codigoDia.codigo"  />
  <input type="text" id="field_codigo" *ngIf="!codigoDia" class="form-control" name="codigo" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_fechaRegistro">Fecha Registro</label>
  <input type="date" id="field_fechaRegistro" *ngIf="codigoDia" class="form-control" name="fechaRegistro" [(ngModel)]="codigoDia.fechaRegistro"  />
  <input type="date" id="field_fechaRegistro" *ngIf="!codigoDia" class="form-control" name="fechaRegistro" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_loginRegistro">Login Registro</label>
  <input type="text" id="field_loginRegistro" *ngIf="codigoDia" class="form-control" name="loginRegistro" [(ngModel)]="codigoDia.loginRegistro"  />
  <input type="text" id="field_loginRegistro" *ngIf="!codigoDia" class="form-control" name="loginRegistro" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_observaciones">Observaciones</label>
  <input type="text" id="field_observaciones" *ngIf="codigoDia" class="form-control" name="observaciones" [(ngModel)]="codigoDia.observaciones"  />
  <input type="text" id="field_observaciones" *ngIf="!codigoDia" class="form-control" name="observaciones" ngModel />
  </div>

          


          <div id="buttonsPanel" class="col-12 form-group">
            <button class="btn btn-dark cursor-pointer" (click)="save(myForm.value)" *ngIf="isCreate" [disabled]="myForm.form.invalid">
              <i class="fa fa-floppy-o fa-fw"></i>Registrar
            </button>
            <button class="btn btn-dark cursor-pointer" (click)="update()" *ngIf="!isCreate" [disabled]="myForm.form.invalid">
              <i class="fa fa-floppy-o fa-fw"></i>Actualizar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
