<div class="container m-top-and-bottom">
  <div class="card">
    <div class="card-header text-white text-center bg-dark">
      <h4>{{ crudOperationTitle }} Trazabilidad Admision Cargos</h4>
    </div>
    <div class="card-body">
      <form #myForm="ngForm">
        <div class="row">
          <div *ngIf="trazabilidadAdmisionCargos && trazabilidadAdmisionCargos._id" class="col-md-12 form-group">
            <label for="field_id">ID</label>
            <input id="fiel_id" *ngIf="trazabilidadAdmisionCargos" type="text" class="form-control" name="id" [(ngModel)]="trazabilidadAdmisionCargos._id" disabled required>
          </div>
          
          
          <div class="col-12 form-group">
  <label for="field_idCargosAdmision">Id Cargos Admision</label>
  <input type="number" id="field_idCargosAdmision" *ngIf="trazabilidadAdmisionCargos" class="form-control" name="idCargosAdmision" [(ngModel)]="trazabilidadAdmisionCargos.idCargosAdmision"  />
  <input type="number" id="field_idCargosAdmision" *ngIf="!trazabilidadAdmisionCargos" class="form-control" name="idCargosAdmision" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_fechaRegistro">Fecha Registro</label>
  <input type="date" id="field_fechaRegistro" *ngIf="trazabilidadAdmisionCargos" class="form-control" name="fechaRegistro" [(ngModel)]="trazabilidadAdmisionCargos.fechaRegistro"  />
  <input type="date" id="field_fechaRegistro" *ngIf="!trazabilidadAdmisionCargos" class="form-control" name="fechaRegistro" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_loginRegistro">Login Registro</label>
  <input type="text" id="field_loginRegistro" *ngIf="trazabilidadAdmisionCargos" class="form-control" name="loginRegistro" [(ngModel)]="trazabilidadAdmisionCargos.loginRegistro"  />
  <input type="text" id="field_loginRegistro" *ngIf="!trazabilidadAdmisionCargos" class="form-control" name="loginRegistro" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_observaciones">Observaciones</label>
  <input type="text" id="field_observaciones" *ngIf="trazabilidadAdmisionCargos" class="form-control" name="observaciones" [(ngModel)]="trazabilidadAdmisionCargos.observaciones"  />
  <input type="text" id="field_observaciones" *ngIf="!trazabilidadAdmisionCargos" class="form-control" name="observaciones" ngModel />
  </div>

          

            <div class="col-12 form-group" *ngIf="trazabilidadAdmisions">
              <label for="field_trazabilidadAdmision">Trazabilidad Admision</label>

              <select *ngIf="!trazabilidadAdmisionCargos" class="form-control" name="idTrazabilidadAdmision" ngModel>
                <option [ngValue]="null"></option>
                <option [ngValue]="trazabilidadAdmision._id" *ngFor="let trazabilidadAdmision of trazabilidadAdmisions">{{ trazabilidadAdmision._id }}</option>
              </select>

              <select *ngIf="trazabilidadAdmisionCargos && trazabilidadAdmisionCargos.idTrazabilidadAdmision" class="form-control" name="idTrazabilidadAdmision" [(ngModel)]="trazabilidadAdmisionCargos.idTrazabilidadAdmision">
                <option [ngValue]="null"></option>
                <option [ngValue]="trazabilidadAdmision._id" *ngFor="let trazabilidadAdmision of trazabilidadAdmisions">{{ trazabilidadAdmision._id }}</option>
              </select>
            </div>

          <div id="buttonsPanel" class="col-12 form-group">
            <button class="btn btn-dark cursor-pointer" (click)="save(myForm.value)" *ngIf="isCreate" [disabled]="myForm.form.invalid">
              <i class="fa fa-floppy-o fa-fw"></i>Registrar
            </button>
            <button class="btn btn-dark cursor-pointer" (click)="update()" *ngIf="!isCreate" [disabled]="myForm.form.invalid">
              <i class="fa fa-floppy-o fa-fw"></i>Actualizar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
