<div *ngIf="sucursal" class="container-fluid">
  <h3 class="m-top-and-bottom-2">Sucursal</h3>
  <hr />
  <dl>
    <dt>ID</dt>
    <dd>{{ sucursal._id }}</dd>

  
    <dt>Cod Sucur</dt>
    <dd>{{ sucursal.codSucur }}</dd>

    <dt>Man Car Aut Urg</dt>
    <dd>{{ sucursal.manCarAutUrg }}</dd>

    <dt>Con Progciru</dt>
    <dd>{{ sucursal.conProgciru }}</dd>

    <dt>Email Ctc</dt>
    <dd>{{ sucursal.emailCtc }}</dd>

    <dt>Phd</dt>
    <dd>{{ sucursal.phd }}</dd>

    <dt>Bloq Pedidos</dt>
    <dd>{{ sucursal.bloqPedidos }}</dd>

    <dt>Man Cons Aut</dt>
    <dd>{{ sucursal.manConsAut }}</dd>

    <dt>Con Dietas</dt>
    <dd>{{ sucursal.conDietas }}</dd>

    <dt>Man Uni Ate Pri</dt>
    <dd>{{ sucursal.manUniAtePri }}</dd>

    <dt>Consecutivo Menor Edad</dt>
    <dd>{{ sucursal.consecutivoMenorEdad }}</dd>

    <dt>Con Certifihos</dt>
    <dd>{{ sucursal.conCertifihos }}</dd>

    <dt>Con Ctacobro</dt>
    <dd>{{ sucursal.conCtacobro }}</dd>

    <dt>Man Triage</dt>
    <dd>{{ sucursal.manTriage }}</dd>

    <dt>Man Inventario</dt>
    <dd>{{ sucursal.manInventario }}</dd>

    <dt>Codigorips</dt>
    <dd>{{ sucursal.codigorips }}</dd>

    <dt>Director</dt>
    <dd>{{ sucursal.director }}</dd>

    <dt>Anul Ped Inteface Act</dt>
    <dd>{{ sucursal.anulPedIntefaceAct }}</dd>

    <dt>Man Precargos</dt>
    <dd>{{ sucursal.manPrecargos }}</dd>

    <dt>Sucursal Osi</dt>
    <dd>{{ sucursal.sucursalOsi }}</dd>

    <dt>Item Lista Unidad Medida Tiempo Observacion</dt>
    <dd>{{ sucursal.itemListaUnidadMedidaTiempoObservacion }}</dd>

    <dt>Ped Inteface Act</dt>
    <dd>{{ sucursal.pedIntefaceAct }}</dd>

    <dt>Agfa Mediweb</dt>
    <dd>{{ sucursal.agfaMediweb }}</dd>

    <dt>Pedido Manual</dt>
    <dd>{{ sucursal.pedidoManual }}</dd>

    <dt>Tie Esp Ob</dt>
    <dd>{{ sucursal.tieEspOb }}</dd>

    <dt>Pide Ctc</dt>
    <dd>{{ sucursal.pideCtc }}</dd>

    <dt>Inc Ped Inteface Act</dt>
    <dd>{{ sucursal.incPedIntefaceAct }}</dd>

    <dt>Direccion</dt>
    <dd>{{ sucursal.direccion }}</dd>

    <dt>Con Cita</dt>
    <dd>{{ sucursal.conCita }}</dd>

    <dt>Difhorservidor</dt>
    <dd>{{ sucursal.difhorservidor }}</dd>

    <dt>Mod Fec Adm</dt>
    <dd>{{ sucursal.modFecAdm }}</dd>

    <dt>Man Cam Pla</dt>
    <dd>{{ sucursal.manCamPla }}</dd>

    <dt>Con Formulacion</dt>
    <dd>{{ sucursal.conFormulacion }}</dd>

    <dt>Man Car Aut Ce</dt>
    <dd>{{ sucursal.manCarAutCe }}</dd>

    <dt>Man Wscitas</dt>
    <dd>{{ sucursal.manWscitas }}</dd>

    <dt>Con Aut Rem</dt>
    <dd>{{ sucursal.conAutRem }}</dd>

    <dt>Observaciones</dt>
    <dd>{{ sucursal.observaciones }}</dd>

    <dt>Con For Proc</dt>
    <dd>{{ sucursal.conForProc }}</dd>

    <dt>Email</dt>
    <dd>{{ sucursal.email }}</dd>

    <dt>Num Doc</dt>
    <dd>{{ sucursal.numDoc }}</dd>

    <dt>Man Convemed</dt>
    <dd>{{ sucursal.manConvemed }}</dd>

    <dt>Agfa Merge</dt>
    <dd>{{ sucursal.agfaMerge }}</dd>

    <dt>Con Rips</dt>
    <dd>{{ sucursal.conRips }}</dd>

    <dt>Niv Instituc</dt>
    <dd>{{ sucursal.nivInstituc }}</dd>

    <dt>Consecutivo Nn</dt>
    <dd>{{ sucursal.consecutivoNn }}</dd>

    <dt>Flag Censo</dt>
    <dd>{{ sucursal.flagCenso }}</dd>

    <dt>Ordenar Generico</dt>
    <dd>{{ sucursal.ordenarGenerico }}</dd>

    <dt>Man Citaesp</dt>
    <dd>{{ sucursal.manCitaesp }}</dd>

    <dt>Descripcion</dt>
    <dd>{{ sucursal.descripcion }}</dd>

    <dt>Con Certifisoat</dt>
    <dd>{{ sucursal.conCertifisoat }}</dd>

    <dt>Telefono</dt>
    <dd>{{ sucursal.telefono }}</dd>

    <dt>Man Rec Aut</dt>
    <dd>{{ sucursal.manRecAut }}</dd>

    <dt>Dev Inteface Act</dt>
    <dd>{{ sucursal.devIntefaceAct }}</dd>

    <dt>Man Redondeo</dt>
    <dd>{{ sucursal.manRedondeo }}</dd>

    <dt>Cod Grabacion Ct</dt>
    <dd>{{ sucursal.codGrabacionCt }}</dd>

    <dt>Fecha Registro</dt>
    <dd>{{ sucursal.fechaRegistro }}</dd>

    <dt>Num Consult</dt>
    <dd>{{ sucursal.numConsult }}</dd>

    <dt>Hor Medio Dia</dt>
    <dd>{{ sucursal.horMedioDia }}</dd>

    <dt>Vlr Redondeo</dt>
    <dd>{{ sucursal.vlrRedondeo }}</dd>

    <dt>Man Estado Pac</dt>
    <dd>{{ sucursal.manEstadoPac }}</dd>

    <dt>Sal Min Leg</dt>
    <dd>{{ sucursal.salMinLeg }}</dd>

    <dt>Con Autoriza</dt>
    <dd>{{ sucursal.conAutoriza }}</dd>

    <dt>Anul Sinvalidar</dt>
    <dd>{{ sucursal.anulSinvalidar }}</dd>

    <dt>Man Protocolos</dt>
    <dd>{{ sucursal.manProtocolos }}</dd>

    <dt>Agfa</dt>
    <dd>{{ sucursal.agfa }}</dd>

    <dt>Item Lista Tipo Documento</dt>
    <dd>{{ sucursal.itemListaTipoDocumento }}</dd>

    <dt>Fax</dt>
    <dd>{{ sucursal.fax }}</dd>

    <dt>Man Enfermeria</dt>
    <dd>{{ sucursal.manEnfermeria }}</dd>

    <dt>Login Registro</dt>
    <dd>{{ sucursal.loginRegistro }}</dd>

    <dt>Man Digiturno</dt>
    <dd>{{ sucursal.manDigiturno }}</dd>

    <dt>Cod Interno</dt>
    <dd>{{ sucursal.codInterno }}</dd>

    <dt>Ciudad</dt>
    <dd>
      <a [routerLink]="['/entities', 'ciudad', sucursal.ciudad._id]">{{ sucursal.ciudad._id }}</a>
    </dd>
    <dt>Prestador</dt>
    <dd>
      <a [routerLink]="['/entities', 'prestador', sucursal.prestador._id]">{{ sucursal.prestador._id }}</a>
    </dd>
    <dt>Entidad</dt>
    <dd>
      <a [routerLink]="['/entities', 'entidad', sucursal.entidad._id]">{{ sucursal.entidad._id }}</a>
    </dd>
  </dl>
  <a routerLink="update" class="btn btn-primary"><i class="fa fa-refresh fa-fw"></i>Actualizar</a>

  <app-anticipo-list [anticipos]="sucursal.anticipos"></app-anticipo-list>
  <app-cama-list [camas]="sucursal.camas"></app-cama-list>
  <app-cargo-automatico-list [cargoAutomaticos]="sucursal.cargoAutomaticos"></app-cargo-automatico-list>
  <app-cargos-pendientes-list [cargosPendientess]="sucursal.cargosPendientess"></app-cargos-pendientes-list>
  <app-censo-historico-list [censoHistoricos]="sucursal.censoHistoricos"></app-censo-historico-list>
  <app-concatena-concepto-por-centro-costo-list [concatenaConceptoPorCentroCostos]="sucursal.concatenaConceptoPorCentroCostos"></app-concatena-concepto-por-centro-costo-list>
  <app-encabezado-resultado-list [encabezadoResultados]="sucursal.encabezadoResultados"></app-encabezado-resultado-list>
  <app-entidad-admision-list [entidadAdmisions]="sucursal.entidadAdmisions"></app-entidad-admision-list>
  <app-excepcion-regargo-list [excepcionRegargos]="sucursal.excepcionRegargos"></app-excepcion-regargo-list>
  <app-homologacion-servicios-agfa-list [homologacionServiciosAgfas]="sucursal.homologacionServiciosAgfas"></app-homologacion-servicios-agfa-list>
  <app-login-sucursal-list [loginSucursals]="sucursal.loginSucursals"></app-login-sucursal-list>
  <app-medicamento-alto-costo-list [medicamentoAltoCostos]="sucursal.medicamentoAltoCostos"></app-medicamento-alto-costo-list>
  <app-medico-grupo-procedimiento-list [medicoGrupoProcedimientos]="sucursal.medicoGrupoProcedimientos"></app-medico-grupo-procedimiento-list>
  <app-numero-secuencia-list [numeroSecuencias]="sucursal.numeroSecuencias"></app-numero-secuencia-list>
  <app-procedimiento-centro-costo-list [procedimientoCentroCostos]="sucursal.procedimientoCentroCostos"></app-procedimiento-centro-costo-list>
  <app-recalculo-automatico-list [recalculoAutomaticos]="sucursal.recalculoAutomaticos"></app-recalculo-automatico-list>
  <app-salas-list [salass]="sucursal.salass"></app-salas-list>
  <app-sucursal-entidad-list [sucursalEntidads]="sucursal.sucursalEntidads"></app-sucursal-entidad-list>
  <app-trazabilidad-admision-list [trazabilidadAdmisions]="sucursal.trazabilidadAdmisions"></app-trazabilidad-admision-list>
  <app-zona-horaria-verano-list [zonaHorariaVeranos]="sucursal.zonaHorariaVeranos"></app-zona-horaria-verano-list>
  <app-censo-servicio-list [censoServicios]="sucursal.censoServicios"></app-censo-servicio-list>
  <app-cita-retraso-list [citaRetrasos]="sucursal.citaRetrasos"></app-cita-retraso-list>
  <app-consultorio-list [consultorios]="sucursal.consultorios"></app-consultorio-list>
  <app-grupo-etareo-list [grupoEtareos]="sucursal.grupoEtareos"></app-grupo-etareo-list>
  <app-login-list [logins]="sucursal.logins"></app-login-list>
  <app-pedidos-list [pedidoss]="sucursal.pedidoss"></app-pedidos-list>
  <app-procedimiento-nivel-list [procedimientoNivels]="sucursal.procedimientoNivels"></app-procedimiento-nivel-list>
  <app-seccion-list [seccions]="sucursal.seccions"></app-seccion-list>
  <app-triage-list [triages]="sucursal.triages"></app-triage-list>
  <app-zona-horaria-list [zonaHorarias]="sucursal.zonaHorarias"></app-zona-horaria-list>
</div>
