<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="m-top-and-bottom-2">
            <span>Encabezado Catalogo</span>
            <a class="btn btn-primary float-right" [routerLink]="[ absolutePath, 'create']" data-dismiss="modal">
              <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
              Crear Nuevo Encabezado Catalogo
            </a>
          </h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-responsive" *ngIf="encabezadoCatalogos">
          <thead>
            <tr>
              <th class="cursor-pointer" (click)="sort('idEncabezado')">
                Id Encabezado
                <i class="fa" [ngClass]="{'fa-sort': column != 'idEncabezado', 'fa-sort-asc': (column == 'idEncabezado' && isDesc), 'fa-sort-desc': (column == 'idEncabezado' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('descripcion')">
                Descripcion
                <i class="fa" [ngClass]="{'fa-sort': column != 'descripcion', 'fa-sort-asc': (column == 'descripcion' && isDesc), 'fa-sort-desc': (column == 'descripcion' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('itemListaEstado')">
                Item Lista Estado
                <i class="fa" [ngClass]="{'fa-sort': column != 'itemListaEstado', 'fa-sort-asc': (column == 'itemListaEstado' && isDesc), 'fa-sort-desc': (column == 'itemListaEstado' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('observacion')">
                Observacion
                <i class="fa" [ngClass]="{'fa-sort': column != 'observacion', 'fa-sort-asc': (column == 'observacion' && isDesc), 'fa-sort-desc': (column == 'observacion' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('fechaRegistro')">
                Fecha Registro
                <i class="fa" [ngClass]="{'fa-sort': column != 'fechaRegistro', 'fa-sort-asc': (column == 'fechaRegistro' && isDesc), 'fa-sort-desc': (column == 'fechaRegistro' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('loginRegistro')">
                Login Registro
                <i class="fa" [ngClass]="{'fa-sort': column != 'loginRegistro', 'fa-sort-asc': (column == 'loginRegistro' && isDesc), 'fa-sort-desc': (column == 'loginRegistro' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('fechaModificacion')">
                Fecha Modificacion
                <i class="fa" [ngClass]="{'fa-sort': column != 'fechaModificacion', 'fa-sort-asc': (column == 'fechaModificacion' && isDesc), 'fa-sort-desc': (column == 'fechaModificacion' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('loginModificacion')">
                Login Modificacion
                <i class="fa" [ngClass]="{'fa-sort': column != 'loginModificacion', 'fa-sort-asc': (column == 'loginModificacion' && isDesc), 'fa-sort-desc': (column == 'loginModificacion' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('activo')">
                Activo
                <i class="fa" [ngClass]="{'fa-sort': column != 'activo', 'fa-sort-asc': (column == 'activo' && isDesc), 'fa-sort-desc': (column == 'activo' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let encabezadoCatalogo of encabezadoCatalogos | orderBy: { property: column, direction: direction }">
              <td>{{ encabezadoCatalogo.idEncabezado }}</td>
              <td>{{ encabezadoCatalogo.descripcion }}</td>
              <td>{{ encabezadoCatalogo.itemListaEstado }}</td>
              <td>{{ encabezadoCatalogo.observacion }}</td>
              <td>{{ encabezadoCatalogo.fechaRegistro }}</td>
              <td>{{ encabezadoCatalogo.loginRegistro }}</td>
              <td>{{ encabezadoCatalogo.fechaModificacion }}</td>
              <td>{{ encabezadoCatalogo.loginModificacion }}</td>
              <td>{{ encabezadoCatalogo.activo }}</td>
              <td>
                <a class="btn btn-info btn-sm" [routerLink]="[ absolutePath, encabezadoCatalogo._id]"><span class="fa fa-eye fa-fw"></span>Ver</a>
                <a class="btn btn-primary btn-sm" [routerLink]="[ absolutePath, encabezadoCatalogo._id, 'update']"><span class="fa fa-pencil fa-fw"></span>Editar</a>
                <a class="btn btn-danger btn-sm text-white cursor-pointer" (click)="openDeleteModal(content, encabezadoCatalogo._id)"><span class="fa fa-trash fa-fw"></span>Eliminar</a>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title"><i class="fa fa-exclamation-triangle fa-lg fa-fw" aria-hidden="true"></i>¿Esta seguro de eliminar?</h5>
    <button type="button" class="close cursor-pointer" aria-label="Close" (click)="d(deleteModalOpts.cancel)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary cursor-pointer" (click)="c(deleteModalOpts.ok)"><i class="fa fa-check fa-fw"></i>Aceptar</button>
    <button type="button" class="btn btn-secondary cursor-pointer" (click)="c(deleteModalOpts.cancel)"><i class="fa fa-ban fa-fw"></i>Cancelar</button>
  </div>
</ng-template>
