<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="m-top-and-bottom-2">
            <span>Unidad Medida Pedido</span>
            <a class="btn btn-primary float-right" [routerLink]="[ absolutePath, 'create']" data-dismiss="modal">
              <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
              Crear Nuevo Unidad Medida Pedido
            </a>
          </h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-responsive" *ngIf="unidadMedidaPedidos">
          <thead>
            <tr>
              <th class="cursor-pointer" (click)="sort('unidadMedidaPedido')">
                Unidad Medida Pedido
                <i class="fa" [ngClass]="{'fa-sort': column != 'unidadMedidaPedido', 'fa-sort-asc': (column == 'unidadMedidaPedido' && isDesc), 'fa-sort-desc': (column == 'unidadMedidaPedido' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('descripcion')">
                Descripcion
                <i class="fa" [ngClass]="{'fa-sort': column != 'descripcion', 'fa-sort-asc': (column == 'descripcion' && isDesc), 'fa-sort-desc': (column == 'descripcion' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('fechaRegistro')">
                Fecha Registro
                <i class="fa" [ngClass]="{'fa-sort': column != 'fechaRegistro', 'fa-sort-asc': (column == 'fechaRegistro' && isDesc), 'fa-sort-desc': (column == 'fechaRegistro' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('loginRegistro')">
                Login Registro
                <i class="fa" [ngClass]="{'fa-sort': column != 'loginRegistro', 'fa-sort-asc': (column == 'loginRegistro' && isDesc), 'fa-sort-desc': (column == 'loginRegistro' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('observaciones')">
                Observaciones
                <i class="fa" [ngClass]="{'fa-sort': column != 'observaciones', 'fa-sort-asc': (column == 'observaciones' && isDesc), 'fa-sort-desc': (column == 'observaciones' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('aliasUnidadMedidaPedido')">
                Alias Unidad Medida Pedido
                <i class="fa" [ngClass]="{'fa-sort': column != 'aliasUnidadMedidaPedido', 'fa-sort-asc': (column == 'aliasUnidadMedidaPedido' && isDesc), 'fa-sort-desc': (column == 'aliasUnidadMedidaPedido' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let unidadMedidaPedido of unidadMedidaPedidos | orderBy: { property: column, direction: direction }">
              <td>{{ unidadMedidaPedido.unidadMedidaPedido }}</td>
              <td>{{ unidadMedidaPedido.descripcion }}</td>
              <td>{{ unidadMedidaPedido.fechaRegistro }}</td>
              <td>{{ unidadMedidaPedido.loginRegistro }}</td>
              <td>{{ unidadMedidaPedido.observaciones }}</td>
              <td>{{ unidadMedidaPedido.aliasUnidadMedidaPedido }}</td>
              <td>
                <a class="btn btn-info btn-sm" [routerLink]="[ absolutePath, unidadMedidaPedido._id]"><span class="fa fa-eye fa-fw"></span>Ver</a>
                <a class="btn btn-primary btn-sm" [routerLink]="[ absolutePath, unidadMedidaPedido._id, 'update']"><span class="fa fa-pencil fa-fw"></span>Editar</a>
                <a class="btn btn-danger btn-sm text-white cursor-pointer" (click)="openDeleteModal(content, unidadMedidaPedido._id)"><span class="fa fa-trash fa-fw"></span>Eliminar</a>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title"><i class="fa fa-exclamation-triangle fa-lg fa-fw" aria-hidden="true"></i>¿Esta seguro de eliminar?</h5>
    <button type="button" class="close cursor-pointer" aria-label="Close" (click)="d(deleteModalOpts.cancel)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary cursor-pointer" (click)="c(deleteModalOpts.ok)"><i class="fa fa-check fa-fw"></i>Aceptar</button>
    <button type="button" class="btn btn-secondary cursor-pointer" (click)="c(deleteModalOpts.cancel)"><i class="fa fa-ban fa-fw"></i>Cancelar</button>
  </div>
</ng-template>
