<div *ngIf="censoServicio" class="container">
  <h3 class="m-top-and-bottom-2">Censo Servicio</h3>
  <hr />
  <dl>
    <dt>ID</dt>
    <dd>{{ censoServicio._id }}</dd>

  
    <dt>Id Admision</dt>
    <dd>{{ censoServicio.idAdmision }}</dd>

    <dt>Codigo Error</dt>
    <dd>{{ censoServicio.codigoError }}</dd>

    <dt>Mensaje Error</dt>
    <dd>{{ censoServicio.mensajeError }}</dd>

    <dt>Fecha Registro</dt>
    <dd>{{ censoServicio.fechaRegistro }}</dd>

    <dt>Item Lista Estado Registro</dt>
    <dd>{{ censoServicio.itemListaEstadoRegistro }}</dd>

    <dt>Id Trazabilidad Admision</dt>
    <dd>{{ censoServicio.idTrazabilidadAdmision }}</dd>

    <dt>Sucursal</dt>
    <dd>
      <a [routerLink]="['/entities', 'sucursal', censoServicio.sucursal._id]">{{ censoServicio.sucursal._id }}</a>
    </dd>
  </dl>
  <a routerLink="update" class="btn btn-primary"><i class="fa fa-refresh fa-fw"></i>Actualizar</a>

</div>
