<div class="container m-top-and-bottom">
  <div class="card">
    <div class="card-header text-white text-center bg-dark">
      <h4>{{ crudOperationTitle }} Sucursal Centro Costo</h4>
    </div>
    <div class="card-body">
      <form #myForm="ngForm">
        <div class="row">
          <div *ngIf="sucursalCentroCosto && sucursalCentroCosto._id" class="col-md-12 form-group">
            <label for="field_id">ID</label>
            <input id="fiel_id" *ngIf="sucursalCentroCosto" type="text" class="form-control" name="id" [(ngModel)]="sucursalCentroCosto._id" disabled required>
          </div>
          
          
          <div class="col-12 form-group">
  <label for="field_idSucursal">Id Sucursal</label>
  <input type="number" id="field_idSucursal" *ngIf="sucursalCentroCosto" class="form-control" name="idSucursal" [(ngModel)]="sucursalCentroCosto.idSucursal"  />
  <input type="number" id="field_idSucursal" *ngIf="!sucursalCentroCosto" class="form-control" name="idSucursal" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_idCentroCosto">Id Centro Costo</label>
  <input type="number" id="field_idCentroCosto" *ngIf="sucursalCentroCosto" class="form-control" name="idCentroCosto" [(ngModel)]="sucursalCentroCosto.idCentroCosto"  />
  <input type="number" id="field_idCentroCosto" *ngIf="!sucursalCentroCosto" class="form-control" name="idCentroCosto" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_fechaRegistro">Fecha Registro</label>
  <input type="date" id="field_fechaRegistro" *ngIf="sucursalCentroCosto" class="form-control" name="fechaRegistro" [(ngModel)]="sucursalCentroCosto.fechaRegistro"  />
  <input type="date" id="field_fechaRegistro" *ngIf="!sucursalCentroCosto" class="form-control" name="fechaRegistro" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_loginRegistro">Login Registro</label>
  <input type="text" id="field_loginRegistro" *ngIf="sucursalCentroCosto" class="form-control" name="loginRegistro" [(ngModel)]="sucursalCentroCosto.loginRegistro"  />
  <input type="text" id="field_loginRegistro" *ngIf="!sucursalCentroCosto" class="form-control" name="loginRegistro" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_observaciones">Observaciones</label>
  <input type="text" id="field_observaciones" *ngIf="sucursalCentroCosto" class="form-control" name="observaciones" [(ngModel)]="sucursalCentroCosto.observaciones"  />
  <input type="text" id="field_observaciones" *ngIf="!sucursalCentroCosto" class="form-control" name="observaciones" ngModel />
  </div>

          


          <div id="buttonsPanel" class="col-12 form-group">
            <button class="btn btn-dark cursor-pointer" (click)="save(myForm.value)" *ngIf="isCreate" [disabled]="myForm.form.invalid">
              <i class="fa fa-floppy-o fa-fw"></i>Registrar
            </button>
            <button class="btn btn-dark cursor-pointer" (click)="update()" *ngIf="!isCreate" [disabled]="myForm.form.invalid">
              <i class="fa fa-floppy-o fa-fw"></i>Actualizar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
