<div class="container m-top-and-bottom">
  <div class="card">
    <div class="card-header text-white text-center bg-dark">
      <h4>{{ crudOperationTitle }} Procedimiento</h4>
    </div>
    <div class="card-body">
      <form #myForm="ngForm">
        <div class="row">
          <div *ngIf="procedimiento && procedimiento._id" class="col-md-12 form-group">
            <label for="field_id">ID</label>
            <input id="fiel_id" *ngIf="procedimiento" type="text" class="form-control" name="id" [(ngModel)]="procedimiento._id" disabled required>
          </div>
          
          
          <div class="col-12 form-group">
  <label for="field_procedim">Procedim</label>
  <input type="text" id="field_procedim" *ngIf="procedimiento" class="form-control" name="procedim" [(ngModel)]="procedimiento.procedim"  />
  <input type="text" id="field_procedim" *ngIf="!procedimiento" class="form-control" name="procedim" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_categoria">Categoria</label>
  <input type="text" id="field_categoria" *ngIf="procedimiento" class="form-control" name="categoria" [(ngModel)]="procedimiento.categoria"  />
  <input type="text" id="field_categoria" *ngIf="!procedimiento" class="form-control" name="categoria" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_autPaciente">Aut Paciente</label>
  <input type="text" id="field_autPaciente" *ngIf="procedimiento" class="form-control" name="autPaciente" [(ngModel)]="procedimiento.autPaciente"  />
  <input type="text" id="field_autPaciente" *ngIf="!procedimiento" class="form-control" name="autPaciente" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_codigoOsi">Codigo Osi</label>
  <input type="text" id="field_codigoOsi" *ngIf="procedimiento" class="form-control" name="codigoOsi" [(ngModel)]="procedimiento.codigoOsi"  />
  <input type="text" id="field_codigoOsi" *ngIf="!procedimiento" class="form-control" name="codigoOsi" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_codSispro">Cod Sispro</label>
  <input type="text" id="field_codSispro" *ngIf="procedimiento" class="form-control" name="codSispro" [(ngModel)]="procedimiento.codSispro"  />
  <input type="text" id="field_codSispro" *ngIf="!procedimiento" class="form-control" name="codSispro" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_factores">Factores</label>
  <input type="text" id="field_factores" *ngIf="procedimiento" class="form-control" name="factores" [(ngModel)]="procedimiento.factores"  />
  <input type="text" id="field_factores" *ngIf="!procedimiento" class="form-control" name="factores" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_tieDuracion">Tie Duracion</label>
  <input type="number" id="field_tieDuracion" *ngIf="procedimiento" class="form-control" name="tieDuracion" [(ngModel)]="procedimiento.tieDuracion"  />
  <input type="number" id="field_tieDuracion" *ngIf="!procedimiento" class="form-control" name="tieDuracion" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_ordenahc">Ordenahc</label>
  <input type="text" id="field_ordenahc" *ngIf="procedimiento" class="form-control" name="ordenahc" [(ngModel)]="procedimiento.ordenahc"  />
  <input type="text" id="field_ordenahc" *ngIf="!procedimiento" class="form-control" name="ordenahc" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_descripcion">Descripcion</label>
  <input type="text" id="field_descripcion" *ngIf="procedimiento" class="form-control" name="descripcion" [(ngModel)]="procedimiento.descripcion"  />
  <input type="text" id="field_descripcion" *ngIf="!procedimiento" class="form-control" name="descripcion" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_patologia">Patologia</label>
  <input type="text" id="field_patologia" *ngIf="procedimiento" class="form-control" name="patologia" [(ngModel)]="procedimiento.patologia"  />
  <input type="text" id="field_patologia" *ngIf="!procedimiento" class="form-control" name="patologia" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_bilateral">Bilateral</label>
  <input type="text" id="field_bilateral" *ngIf="procedimiento" class="form-control" name="bilateral" [(ngModel)]="procedimiento.bilateral"  />
  <input type="text" id="field_bilateral" *ngIf="!procedimiento" class="form-control" name="bilateral" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_obsSis">Obs Sis</label>
  <input type="text" id="field_obsSis" *ngIf="procedimiento" class="form-control" name="obsSis" [(ngModel)]="procedimiento.obsSis"  />
  <input type="text" id="field_obsSis" *ngIf="!procedimiento" class="form-control" name="obsSis" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_desSispro">Des Sispro</label>
  <input type="text" id="field_desSispro" *ngIf="procedimiento" class="form-control" name="desSispro" [(ngModel)]="procedimiento.desSispro"  />
  <input type="text" id="field_desSispro" *ngIf="!procedimiento" class="form-control" name="desSispro" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_injertos">Injertos</label>
  <input type="text" id="field_injertos" *ngIf="procedimiento" class="form-control" name="injertos" [(ngModel)]="procedimiento.injertos"  />
  <input type="text" id="field_injertos" *ngIf="!procedimiento" class="form-control" name="injertos" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_osi">Osi</label>
  <input type="text" id="field_osi" *ngIf="procedimiento" class="form-control" name="osi" [(ngModel)]="procedimiento.osi"  />
  <input type="text" id="field_osi" *ngIf="!procedimiento" class="form-control" name="osi" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_edadIni">Edad Ini</label>
  <input type="number" id="field_edadIni" *ngIf="procedimiento" class="form-control" name="edadIni" [(ngModel)]="procedimiento.edadIni"  />
  <input type="number" id="field_edadIni" *ngIf="!procedimiento" class="form-control" name="edadIni" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_clase">Clase</label>
  <input type="text" id="field_clase" *ngIf="procedimiento" class="form-control" name="clase" [(ngModel)]="procedimiento.clase"  />
  <input type="text" id="field_clase" *ngIf="!procedimiento" class="form-control" name="clase" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_forConsent">For Consent</label>
  <input type="number" id="field_forConsent" *ngIf="procedimiento" class="form-control" name="forConsent" [(ngModel)]="procedimiento.forConsent"  />
  <input type="number" id="field_forConsent" *ngIf="!procedimiento" class="form-control" name="forConsent" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_edadFin">Edad Fin</label>
  <input type="number" id="field_edadFin" *ngIf="procedimiento" class="form-control" name="edadFin" [(ngModel)]="procedimiento.edadFin"  />
  <input type="number" id="field_edadFin" *ngIf="!procedimiento" class="form-control" name="edadFin" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_obsConsent">Obs Consent</label>
  <input type="text" id="field_obsConsent" *ngIf="procedimiento" class="form-control" name="obsConsent" [(ngModel)]="procedimiento.obsConsent"  />
  <input type="text" id="field_obsConsent" *ngIf="!procedimiento" class="form-control" name="obsConsent" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_itemListaTipoBilateralidad">Item Lista Tipo Bilateralidad</label>
  <input type="number" id="field_itemListaTipoBilateralidad" *ngIf="procedimiento" class="form-control" name="itemListaTipoBilateralidad" [(ngModel)]="procedimiento.itemListaTipoBilateralidad"  />
  <input type="number" id="field_itemListaTipoBilateralidad" *ngIf="!procedimiento" class="form-control" name="itemListaTipoBilateralidad" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_aliasIss">Alias Iss</label>
  <input type="text" id="field_aliasIss" *ngIf="procedimiento" class="form-control" name="aliasIss" [(ngModel)]="procedimiento.aliasIss"  />
  <input type="text" id="field_aliasIss" *ngIf="!procedimiento" class="form-control" name="aliasIss" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_biopsia">Biopsia</label>
  <input type="text" id="field_biopsia" *ngIf="procedimiento" class="form-control" name="biopsia" [(ngModel)]="procedimiento.biopsia"  />
  <input type="text" id="field_biopsia" *ngIf="!procedimiento" class="form-control" name="biopsia" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_tieAdecuacion">Tie Adecuacion</label>
  <input type="number" id="field_tieAdecuacion" *ngIf="procedimiento" class="form-control" name="tieAdecuacion" [(ngModel)]="procedimiento.tieAdecuacion"  />
  <input type="number" id="field_tieAdecuacion" *ngIf="!procedimiento" class="form-control" name="tieAdecuacion" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_fechaRegistro">Fecha Registro</label>
  <input type="date" id="field_fechaRegistro" *ngIf="procedimiento" class="form-control" name="fechaRegistro" [(ngModel)]="procedimiento.fechaRegistro"  />
  <input type="date" id="field_fechaRegistro" *ngIf="!procedimiento" class="form-control" name="fechaRegistro" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_porCopago">Por Copago</label>
  <input type="number" id="field_porCopago" *ngIf="procedimiento" class="form-control" name="porCopago" [(ngModel)]="procedimiento.porCopago"  />
  <input type="number" id="field_porCopago" *ngIf="!procedimiento" class="form-control" name="porCopago" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_itemListaSexo">Item Lista Sexo</label>
  <input type="number" id="field_itemListaSexo" *ngIf="procedimiento" class="form-control" name="itemListaSexo" [(ngModel)]="procedimiento.itemListaSexo"  />
  <input type="number" id="field_itemListaSexo" *ngIf="!procedimiento" class="form-control" name="itemListaSexo" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_tieLimpieza">Tie Limpieza</label>
  <input type="text" id="field_tieLimpieza" *ngIf="procedimiento" class="form-control" name="tieLimpieza" [(ngModel)]="procedimiento.tieLimpieza"  />
  <input type="text" id="field_tieLimpieza" *ngIf="!procedimiento" class="form-control" name="tieLimpieza" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_flagPos">Flag Pos</label>
  <input type="text" id="field_flagPos" *ngIf="procedimiento" class="form-control" name="flagPos" [(ngModel)]="procedimiento.flagPos"  />
  <input type="text" id="field_flagPos" *ngIf="!procedimiento" class="form-control" name="flagPos" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_nivProced">Niv Proced</label>
  <input type="text" id="field_nivProced" *ngIf="procedimiento" class="form-control" name="nivProced" [(ngModel)]="procedimiento.nivProced"  />
  <input type="text" id="field_nivProced" *ngIf="!procedimiento" class="form-control" name="nivProced" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_finalidad">Finalidad</label>
  <input type="text" id="field_finalidad" *ngIf="procedimiento" class="form-control" name="finalidad" [(ngModel)]="procedimiento.finalidad"  />
  <input type="text" id="field_finalidad" *ngIf="!procedimiento" class="form-control" name="finalidad" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_idEspecialidadInterconsulta">Id Especialidad Interconsulta</label>
  <input type="number" id="field_idEspecialidadInterconsulta" *ngIf="procedimiento" class="form-control" name="idEspecialidadInterconsulta" [(ngModel)]="procedimiento.idEspecialidadInterconsulta"  />
  <input type="number" id="field_idEspecialidadInterconsulta" *ngIf="!procedimiento" class="form-control" name="idEspecialidadInterconsulta" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_observaciones">Observaciones</label>
  <input type="text" id="field_observaciones" *ngIf="procedimiento" class="form-control" name="observaciones" [(ngModel)]="procedimiento.observaciones"  />
  <input type="text" id="field_observaciones" *ngIf="!procedimiento" class="form-control" name="observaciones" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_aliasCups">Alias Cups</label>
  <input type="text" id="field_aliasCups" *ngIf="procedimiento" class="form-control" name="aliasCups" [(ngModel)]="procedimiento.aliasCups"  />
  <input type="text" id="field_aliasCups" *ngIf="!procedimiento" class="form-control" name="aliasCups" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_itemListaTipoProcedimiento">Item Lista Tipo Procedimiento</label>
  <input type="number" id="field_itemListaTipoProcedimiento" *ngIf="procedimiento" class="form-control" name="itemListaTipoProcedimiento" [(ngModel)]="procedimiento.itemListaTipoProcedimiento"  />
  <input type="number" id="field_itemListaTipoProcedimiento" *ngIf="!procedimiento" class="form-control" name="itemListaTipoProcedimiento" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_manCopago">Man Copago</label>
  <input type="text" id="field_manCopago" *ngIf="procedimiento" class="form-control" name="manCopago" [(ngModel)]="procedimiento.manCopago"  />
  <input type="text" id="field_manCopago" *ngIf="!procedimiento" class="form-control" name="manCopago" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_uvr">Uvr</label>
  <input type="number" id="field_uvr" *ngIf="procedimiento" class="form-control" name="uvr" [(ngModel)]="procedimiento.uvr"  />
  <input type="number" id="field_uvr" *ngIf="!procedimiento" class="form-control" name="uvr" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_loginRegistro">Login Registro</label>
  <input type="text" id="field_loginRegistro" *ngIf="procedimiento" class="form-control" name="loginRegistro" [(ngModel)]="procedimiento.loginRegistro"  />
  <input type="text" id="field_loginRegistro" *ngIf="!procedimiento" class="form-control" name="loginRegistro" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_alias">Alias</label>
  <input type="text" id="field_alias" *ngIf="procedimiento" class="form-control" name="alias" [(ngModel)]="procedimiento.alias"  />
  <input type="text" id="field_alias" *ngIf="!procedimiento" class="form-control" name="alias" ngModel />
  </div>

          

            <div class="col-12 form-group" *ngIf="subGrupoProcedimientos">
              <label for="field_subGrupoProcedimiento">Sub Grupo Procedimiento</label>

              <select *ngIf="!procedimiento" class="form-control" name="idSubGrupoProcedimiento" ngModel>
                <option [ngValue]="null"></option>
                <option [ngValue]="subGrupoProcedimiento._id" *ngFor="let subGrupoProcedimiento of subGrupoProcedimientos">{{ subGrupoProcedimiento._id }}</option>
              </select>

              <select *ngIf="procedimiento && procedimiento.idSubGrupoProcedimiento" class="form-control" name="idSubGrupoProcedimiento" [(ngModel)]="procedimiento.idSubGrupoProcedimiento">
                <option [ngValue]="null"></option>
                <option [ngValue]="subGrupoProcedimiento._id" *ngFor="let subGrupoProcedimiento of subGrupoProcedimientos">{{ subGrupoProcedimiento._id }}</option>
              </select>
            </div>

          <div id="buttonsPanel" class="col-12 form-group">
            <button class="btn btn-dark cursor-pointer" (click)="save(myForm.value)" *ngIf="isCreate" [disabled]="myForm.form.invalid">
              <i class="fa fa-floppy-o fa-fw"></i>Registrar
            </button>
            <button class="btn btn-dark cursor-pointer" (click)="update()" *ngIf="!isCreate" [disabled]="myForm.form.invalid">
              <i class="fa fa-floppy-o fa-fw"></i>Actualizar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
