<div *ngIf="tarifaVacunacion" class="container">
  <h3 class="m-top-and-bottom-2">Tarifa Vacunacion</h3>
  <hr />
  <dl>
    <dt>ID</dt>
    <dd>{{ tarifaVacunacion._id }}</dd>

  
    <dt>Valor</dt>
    <dd>{{ tarifaVacunacion.valor }}</dd>

    <dt>Fecha Registro</dt>
    <dd>{{ tarifaVacunacion.fechaRegistro }}</dd>

    <dt>Login Registro</dt>
    <dd>{{ tarifaVacunacion.loginRegistro }}</dd>

    <dt>Observaciones</dt>
    <dd>{{ tarifaVacunacion.observaciones }}</dd>

    <dt>SucursalEntidad</dt>
    <dd>
      <a [routerLink]="['/entities', 'sucursalEntidad', tarifaVacunacion.sucursalEntidad._id]">{{ tarifaVacunacion.sucursalEntidad._id }}</a>
    </dd>
    <dt>TipoTarifaVacunacion</dt>
    <dd>
      <a [routerLink]="['/entities', 'tipoTarifaVacunacion', tarifaVacunacion.tipoTarifaVacunacion._id]">{{ tarifaVacunacion.tipoTarifaVacunacion._id }}</a>
    </dd>
    <dt>Vacunas</dt>
    <dd>
      <a [routerLink]="['/entities', 'vacunas', tarifaVacunacion.vacunas._id]">{{ tarifaVacunacion.vacunas._id }}</a>
    </dd>
  </dl>
  <a routerLink="update" class="btn btn-primary"><i class="fa fa-refresh fa-fw"></i>Actualizar</a>

</div>
