<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="m-top-and-bottom-2">
            <span>Auditoria</span>
            <a class="btn btn-primary float-right" [routerLink]="[ absolutePath, 'create']" data-dismiss="modal">
              <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
              Crear Nuevo Auditoria
            </a>
          </h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-responsive" *ngIf="auditorias">
          <thead>
            <tr>
              <th class="cursor-pointer" (click)="sort('fichero')">
                Fichero
                <i class="fa" [ngClass]="{'fa-sort': column != 'fichero', 'fa-sort-asc': (column == 'fichero' && isDesc), 'fa-sort-desc': (column == 'fichero' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('tipAcceso')">
                Tip Acceso
                <i class="fa" [ngClass]="{'fa-sort': column != 'tipAcceso', 'fa-sort-asc': (column == 'tipAcceso' && isDesc), 'fa-sort-desc': (column == 'tipAcceso' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('idPaciente')">
                Id Paciente
                <i class="fa" [ngClass]="{'fa-sort': column != 'idPaciente', 'fa-sort-asc': (column == 'idPaciente' && isDesc), 'fa-sort-desc': (column == 'idPaciente' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('loginRegistro')">
                Login Registro
                <i class="fa" [ngClass]="{'fa-sort': column != 'loginRegistro', 'fa-sort-asc': (column == 'loginRegistro' && isDesc), 'fa-sort-desc': (column == 'loginRegistro' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('fechaRegistro')">
                Fecha Registro
                <i class="fa" [ngClass]="{'fa-sort': column != 'fechaRegistro', 'fa-sort-asc': (column == 'fechaRegistro' && isDesc), 'fa-sort-desc': (column == 'fechaRegistro' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('observaciones')">
                Observaciones
                <i class="fa" [ngClass]="{'fa-sort': column != 'observaciones', 'fa-sort-asc': (column == 'observaciones' && isDesc), 'fa-sort-desc': (column == 'observaciones' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let auditoria of auditorias | orderBy: { property: column, direction: direction }">
              <td>{{ auditoria.fichero }}</td>
              <td>{{ auditoria.tipAcceso }}</td>
              <td>{{ auditoria.idPaciente }}</td>
              <td>{{ auditoria.loginRegistro }}</td>
              <td>{{ auditoria.fechaRegistro }}</td>
              <td>{{ auditoria.observaciones }}</td>
              <td>
                <a class="btn btn-info btn-sm" [routerLink]="[ absolutePath, auditoria._id]"><span class="fa fa-eye fa-fw"></span>Ver</a>
                <a class="btn btn-primary btn-sm" [routerLink]="[ absolutePath, auditoria._id, 'update']"><span class="fa fa-pencil fa-fw"></span>Editar</a>
                <a class="btn btn-danger btn-sm text-white cursor-pointer" (click)="openDeleteModal(content, auditoria._id)"><span class="fa fa-trash fa-fw"></span>Eliminar</a>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title"><i class="fa fa-exclamation-triangle fa-lg fa-fw" aria-hidden="true"></i>¿Esta seguro de eliminar?</h5>
    <button type="button" class="close cursor-pointer" aria-label="Close" (click)="d(deleteModalOpts.cancel)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary cursor-pointer" (click)="c(deleteModalOpts.ok)"><i class="fa fa-check fa-fw"></i>Aceptar</button>
    <button type="button" class="btn btn-secondary cursor-pointer" (click)="c(deleteModalOpts.cancel)"><i class="fa fa-ban fa-fw"></i>Cancelar</button>
  </div>
</ng-template>
