<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="m-top-and-bottom-2">
            <span>Centro Costo Valido</span>
            <a class="btn btn-primary float-right" [routerLink]="[ absolutePath, 'create']" data-dismiss="modal">
              <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
              Crear Nuevo Centro Costo Valido
            </a>
          </h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-responsive" *ngIf="centroCostoValidos">
          <thead>
            <tr>
              <th class="cursor-pointer" (click)="sort('idCentroCostoGenera')">
                Id Centro Costo Genera
                <i class="fa" [ngClass]="{'fa-sort': column != 'idCentroCostoGenera', 'fa-sort-asc': (column == 'idCentroCostoGenera' && isDesc), 'fa-sort-desc': (column == 'idCentroCostoGenera' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('idCentroCostoValido')">
                Id Centro Costo Valido
                <i class="fa" [ngClass]="{'fa-sort': column != 'idCentroCostoValido', 'fa-sort-asc': (column == 'idCentroCostoValido' && isDesc), 'fa-sort-desc': (column == 'idCentroCostoValido' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('fechaRegistro')">
                Fecha Registro
                <i class="fa" [ngClass]="{'fa-sort': column != 'fechaRegistro', 'fa-sort-asc': (column == 'fechaRegistro' && isDesc), 'fa-sort-desc': (column == 'fechaRegistro' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('loginRegistro')">
                Login Registro
                <i class="fa" [ngClass]="{'fa-sort': column != 'loginRegistro', 'fa-sort-asc': (column == 'loginRegistro' && isDesc), 'fa-sort-desc': (column == 'loginRegistro' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('observaciones')">
                Observaciones
                <i class="fa" [ngClass]="{'fa-sort': column != 'observaciones', 'fa-sort-asc': (column == 'observaciones' && isDesc), 'fa-sort-desc': (column == 'observaciones' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('farmacia')">
                Farmacia
                <i class="fa" [ngClass]="{'fa-sort': column != 'farmacia', 'fa-sort-asc': (column == 'farmacia' && isDesc), 'fa-sort-desc': (column == 'farmacia' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('estadoItemLista')">
                Estado Item Lista
                <i class="fa" [ngClass]="{'fa-sort': column != 'estadoItemLista', 'fa-sort-asc': (column == 'estadoItemLista' && isDesc), 'fa-sort-desc': (column == 'estadoItemLista' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let centroCostoValido of centroCostoValidos | orderBy: { property: column, direction: direction }">
              <td>{{ centroCostoValido.idCentroCostoGenera }}</td>
              <td>{{ centroCostoValido.idCentroCostoValido }}</td>
              <td>{{ centroCostoValido.fechaRegistro }}</td>
              <td>{{ centroCostoValido.loginRegistro }}</td>
              <td>{{ centroCostoValido.observaciones }}</td>
              <td>{{ centroCostoValido.farmacia }}</td>
              <td>{{ centroCostoValido.estadoItemLista }}</td>
              <td>
                <a class="btn btn-info btn-sm" [routerLink]="[ absolutePath, centroCostoValido._id]"><span class="fa fa-eye fa-fw"></span>Ver</a>
                <a class="btn btn-primary btn-sm" [routerLink]="[ absolutePath, centroCostoValido._id, 'update']"><span class="fa fa-pencil fa-fw"></span>Editar</a>
                <a class="btn btn-danger btn-sm text-white cursor-pointer" (click)="openDeleteModal(content, centroCostoValido._id)"><span class="fa fa-trash fa-fw"></span>Eliminar</a>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title"><i class="fa fa-exclamation-triangle fa-lg fa-fw" aria-hidden="true"></i>¿Esta seguro de eliminar?</h5>
    <button type="button" class="close cursor-pointer" aria-label="Close" (click)="d(deleteModalOpts.cancel)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary cursor-pointer" (click)="c(deleteModalOpts.ok)"><i class="fa fa-check fa-fw"></i>Aceptar</button>
    <button type="button" class="btn btn-secondary cursor-pointer" (click)="c(deleteModalOpts.cancel)"><i class="fa fa-ban fa-fw"></i>Cancelar</button>
  </div>
</ng-template>
