<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="m-top-and-bottom-2">
            <span>Numero Secuencia</span>
            <a class="btn btn-primary float-right" [routerLink]="[ absolutePath, 'create']" data-dismiss="modal">
              <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
              Crear Nuevo Numero Secuencia
            </a>
          </h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-responsive" *ngIf="numeroSecuencias">
          <thead>
            <tr>
              <th class="cursor-pointer" (click)="sort('type')">
                Type
                <i class="fa" [ngClass]="{'fa-sort': column != 'type', 'fa-sort-asc': (column == 'type' && isDesc), 'fa-sort-desc': (column == 'type' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('prefix')">
                Prefix
                <i class="fa" [ngClass]="{'fa-sort': column != 'prefix', 'fa-sort-asc': (column == 'prefix' && isDesc), 'fa-sort-desc': (column == 'prefix' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('lastnumber')">
                Lastnumber
                <i class="fa" [ngClass]="{'fa-sort': column != 'lastnumber', 'fa-sort-asc': (column == 'lastnumber' && isDesc), 'fa-sort-desc': (column == 'lastnumber' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('length')">
                Length
                <i class="fa" [ngClass]="{'fa-sort': column != 'length', 'fa-sort-asc': (column == 'length' && isDesc), 'fa-sort-desc': (column == 'length' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('year')">
                Year
                <i class="fa" [ngClass]="{'fa-sort': column != 'year', 'fa-sort-asc': (column == 'year' && isDesc), 'fa-sort-desc': (column == 'year' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('month')">
                Month
                <i class="fa" [ngClass]="{'fa-sort': column != 'month', 'fa-sort-asc': (column == 'month' && isDesc), 'fa-sort-desc': (column == 'month' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('lastyear')">
                Lastyear
                <i class="fa" [ngClass]="{'fa-sort': column != 'lastyear', 'fa-sort-asc': (column == 'lastyear' && isDesc), 'fa-sort-desc': (column == 'lastyear' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('lastmonth')">
                Lastmonth
                <i class="fa" [ngClass]="{'fa-sort': column != 'lastmonth', 'fa-sort-asc': (column == 'lastmonth' && isDesc), 'fa-sort-desc': (column == 'lastmonth' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('tablename')">
                Tablename
                <i class="fa" [ngClass]="{'fa-sort': column != 'tablename', 'fa-sort-asc': (column == 'tablename' && isDesc), 'fa-sort-desc': (column == 'tablename' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let numeroSecuencia of numeroSecuencias | orderBy: { property: column, direction: direction }">
              <td>{{ numeroSecuencia.type }}</td>
              <td>{{ numeroSecuencia.prefix }}</td>
              <td>{{ numeroSecuencia.lastnumber }}</td>
              <td>{{ numeroSecuencia.length }}</td>
              <td>{{ numeroSecuencia.year }}</td>
              <td>{{ numeroSecuencia.month }}</td>
              <td>{{ numeroSecuencia.lastyear }}</td>
              <td>{{ numeroSecuencia.lastmonth }}</td>
              <td>{{ numeroSecuencia.tablename }}</td>
              <td>
                <a class="btn btn-info btn-sm" [routerLink]="[ absolutePath, numeroSecuencia._id]"><span class="fa fa-eye fa-fw"></span>Ver</a>
                <a class="btn btn-primary btn-sm" [routerLink]="[ absolutePath, numeroSecuencia._id, 'update']"><span class="fa fa-pencil fa-fw"></span>Editar</a>
                <a class="btn btn-danger btn-sm text-white cursor-pointer" (click)="openDeleteModal(content, numeroSecuencia._id)"><span class="fa fa-trash fa-fw"></span>Eliminar</a>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title"><i class="fa fa-exclamation-triangle fa-lg fa-fw" aria-hidden="true"></i>¿Esta seguro de eliminar?</h5>
    <button type="button" class="close cursor-pointer" aria-label="Close" (click)="d(deleteModalOpts.cancel)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary cursor-pointer" (click)="c(deleteModalOpts.ok)"><i class="fa fa-check fa-fw"></i>Aceptar</button>
    <button type="button" class="btn btn-secondary cursor-pointer" (click)="c(deleteModalOpts.cancel)"><i class="fa fa-ban fa-fw"></i>Cancelar</button>
  </div>
</ng-template>
