<div class="container m-top-and-bottom">
  <div class="card">
    <div class="card-header text-white text-center bg-dark">
      <h4>{{ crudOperationTitle }} Prestador</h4>
    </div>
    <div class="card-body">
      <form #myForm="ngForm">
        <div class="row">
          <div *ngIf="prestador && prestador._id" class="col-md-12 form-group">
            <label for="field_id">ID</label>
            <input id="fiel_id" *ngIf="prestador" type="text" class="form-control" name="id" [(ngModel)]="prestador._id" disabled required>
          </div>
          
          
          <div class="col-12 form-group">
  <label for="field_codPreSgs">Cod Pre Sgs</label>
  <input type="text" id="field_codPreSgs" *ngIf="prestador" class="form-control" name="codPreSgs" [(ngModel)]="prestador.codPreSgs"  />
  <input type="text" id="field_codPreSgs" *ngIf="!prestador" class="form-control" name="codPreSgs" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_numDoc">Num Doc</label>
  <input type="text" id="field_numDoc" *ngIf="prestador" class="form-control" name="numDoc" [(ngModel)]="prestador.numDoc"  />
  <input type="text" id="field_numDoc" *ngIf="!prestador" class="form-control" name="numDoc" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_director">Director</label>
  <input type="text" id="field_director" *ngIf="prestador" class="form-control" name="director" [(ngModel)]="prestador.director"  />
  <input type="text" id="field_director" *ngIf="!prestador" class="form-control" name="director" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_manVolantes">Man Volantes</label>
  <input type="text" id="field_manVolantes" *ngIf="prestador" class="form-control" name="manVolantes" [(ngModel)]="prestador.manVolantes"  />
  <input type="text" id="field_manVolantes" *ngIf="!prestador" class="form-control" name="manVolantes" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_tipDocdefec">Tip Docdefec</label>
  <input type="text" id="field_tipDocdefec" *ngIf="prestador" class="form-control" name="tipDocdefec" [(ngModel)]="prestador.tipDocdefec"  />
  <input type="text" id="field_tipDocdefec" *ngIf="!prestador" class="form-control" name="tipDocdefec" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_consecutivoNn">Consecutivo Nn</label>
  <input type="number" id="field_consecutivoNn" *ngIf="prestador" class="form-control" name="consecutivoNn" [(ngModel)]="prestador.consecutivoNn"  />
  <input type="number" id="field_consecutivoNn" *ngIf="!prestador" class="form-control" name="consecutivoNn" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_manRips">Man Rips</label>
  <input type="text" id="field_manRips" *ngIf="prestador" class="form-control" name="manRips" [(ngModel)]="prestador.manRips"  />
  <input type="text" id="field_manRips" *ngIf="!prestador" class="form-control" name="manRips" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_manHisCli">Man His Cli</label>
  <input type="text" id="field_manHisCli" *ngIf="prestador" class="form-control" name="manHisCli" [(ngModel)]="prestador.manHisCli"  />
  <input type="text" id="field_manHisCli" *ngIf="!prestador" class="form-control" name="manHisCli" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_direccion">Direccion</label>
  <input type="text" id="field_direccion" *ngIf="prestador" class="form-control" name="direccion" [(ngModel)]="prestador.direccion"  />
  <input type="text" id="field_direccion" *ngIf="!prestador" class="form-control" name="direccion" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_controlaversion">Controlaversion</label>
  <input type="text" id="field_controlaversion" *ngIf="prestador" class="form-control" name="controlaversion" [(ngModel)]="prestador.controlaversion"  />
  <input type="text" id="field_controlaversion" *ngIf="!prestador" class="form-control" name="controlaversion" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_manConLocNn">Man Con Loc Nn</label>
  <input type="text" id="field_manConLocNn" *ngIf="prestador" class="form-control" name="manConLocNn" [(ngModel)]="prestador.manConLocNn"  />
  <input type="text" id="field_manConLocNn" *ngIf="!prestador" class="form-control" name="manConLocNn" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_comportamiento">Comportamiento</label>
  <input type="number" id="field_comportamiento" *ngIf="prestador" class="form-control" name="comportamiento" [(ngModel)]="prestador.comportamiento"  />
  <input type="number" id="field_comportamiento" *ngIf="!prestador" class="form-control" name="comportamiento" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_moneda">Moneda</label>
  <input type="text" id="field_moneda" *ngIf="prestador" class="form-control" name="moneda" [(ngModel)]="prestador.moneda"  />
  <input type="text" id="field_moneda" *ngIf="!prestador" class="form-control" name="moneda" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_manPines">Man Pines</label>
  <input type="text" id="field_manPines" *ngIf="prestador" class="form-control" name="manPines" [(ngModel)]="prestador.manPines"  />
  <input type="text" id="field_manPines" *ngIf="!prestador" class="form-control" name="manPines" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_auditoria">Auditoria</label>
  <input type="text" id="field_auditoria" *ngIf="prestador" class="form-control" name="auditoria" [(ngModel)]="prestador.auditoria"  />
  <input type="text" id="field_auditoria" *ngIf="!prestador" class="form-control" name="auditoria" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_fechaRegistro">Fecha Registro</label>
  <input type="date" id="field_fechaRegistro" *ngIf="prestador" class="form-control" name="fechaRegistro" [(ngModel)]="prestador.fechaRegistro"  />
  <input type="date" id="field_fechaRegistro" *ngIf="!prestador" class="form-control" name="fechaRegistro" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_consecutivoMenorEdad">Consecutivo Menor Edad</label>
  <input type="number" id="field_consecutivoMenorEdad" *ngIf="prestador" class="form-control" name="consecutivoMenorEdad" [(ngModel)]="prestador.consecutivoMenorEdad"  />
  <input type="number" id="field_consecutivoMenorEdad" *ngIf="!prestador" class="form-control" name="consecutivoMenorEdad" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_itemListaUnidadMedidaTiempo">Item Lista Unidad Medida Tiempo</label>
  <input type="number" id="field_itemListaUnidadMedidaTiempo" *ngIf="prestador" class="form-control" name="itemListaUnidadMedidaTiempo" [(ngModel)]="prestador.itemListaUnidadMedidaTiempo"  />
  <input type="number" id="field_itemListaUnidadMedidaTiempo" *ngIf="!prestador" class="form-control" name="itemListaUnidadMedidaTiempo" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_concconcepcc">Concconcepcc</label>
  <input type="text" id="field_concconcepcc" *ngIf="prestador" class="form-control" name="concconcepcc" [(ngModel)]="prestador.concconcepcc"  />
  <input type="text" id="field_concconcepcc" *ngIf="!prestador" class="form-control" name="concconcepcc" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_codOrigen">Cod Origen</label>
  <input type="text" id="field_codOrigen" *ngIf="prestador" class="form-control" name="codOrigen" [(ngModel)]="prestador.codOrigen"  />
  <input type="text" id="field_codOrigen" *ngIf="!prestador" class="form-control" name="codOrigen" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_codInterno">Cod Interno</label>
  <input type="text" id="field_codInterno" *ngIf="prestador" class="form-control" name="codInterno" [(ngModel)]="prestador.codInterno"  />
  <input type="text" id="field_codInterno" *ngIf="!prestador" class="form-control" name="codInterno" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_tagDocumento">Tag Documento</label>
  <input type="text" id="field_tagDocumento" *ngIf="prestador" class="form-control" name="tagDocumento" [(ngModel)]="prestador.tagDocumento"  />
  <input type="text" id="field_tagDocumento" *ngIf="!prestador" class="form-control" name="tagDocumento" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_conAnticipo">Con Anticipo</label>
  <input type="number" id="field_conAnticipo" *ngIf="prestador" class="form-control" name="conAnticipo" [(ngModel)]="prestador.conAnticipo"  />
  <input type="number" id="field_conAnticipo" *ngIf="!prestador" class="form-control" name="conAnticipo" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_loginRegistro">Login Registro</label>
  <input type="text" id="field_loginRegistro" *ngIf="prestador" class="form-control" name="loginRegistro" [(ngModel)]="prestador.loginRegistro"  />
  <input type="text" id="field_loginRegistro" *ngIf="!prestador" class="form-control" name="loginRegistro" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_manConAutMenedad">Man Con Aut Menedad</label>
  <input type="text" id="field_manConAutMenedad" *ngIf="prestador" class="form-control" name="manConAutMenedad" [(ngModel)]="prestador.manConAutMenedad"  />
  <input type="text" id="field_manConAutMenedad" *ngIf="!prestador" class="form-control" name="manConAutMenedad" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_manConLocMenedad">Man Con Loc Menedad</label>
  <input type="text" id="field_manConLocMenedad" *ngIf="prestador" class="form-control" name="manConLocMenedad" [(ngModel)]="prestador.manConLocMenedad"  />
  <input type="text" id="field_manConLocMenedad" *ngIf="!prestador" class="form-control" name="manConLocMenedad" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_descripcion">Descripcion</label>
  <input type="text" id="field_descripcion" *ngIf="prestador" class="form-control" name="descripcion" [(ngModel)]="prestador.descripcion"  />
  <input type="text" id="field_descripcion" *ngIf="!prestador" class="form-control" name="descripcion" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_tieConUrg">Tie Con Urg</label>
  <input type="number" id="field_tieConUrg" *ngIf="prestador" class="form-control" name="tieConUrg" [(ngModel)]="prestador.tieConUrg"  />
  <input type="number" id="field_tieConUrg" *ngIf="!prestador" class="form-control" name="tieConUrg" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_codProgIfco">Cod Prog Ifco</label>
  <input type="number" id="field_codProgIfco" *ngIf="prestador" class="form-control" name="codProgIfco" [(ngModel)]="prestador.codProgIfco"  />
  <input type="number" id="field_codProgIfco" *ngIf="!prestador" class="form-control" name="codProgIfco" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_fax">Fax</label>
  <input type="text" id="field_fax" *ngIf="prestador" class="form-control" name="fax" [(ngModel)]="prestador.fax"  />
  <input type="text" id="field_fax" *ngIf="!prestador" class="form-control" name="fax" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_telefono">Telefono</label>
  <input type="text" id="field_telefono" *ngIf="prestador" class="form-control" name="telefono" [(ngModel)]="prestador.telefono"  />
  <input type="text" id="field_telefono" *ngIf="!prestador" class="form-control" name="telefono" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_manInterContab">Man Inter Contab</label>
  <input type="text" id="field_manInterContab" *ngIf="prestador" class="form-control" name="manInterContab" [(ngModel)]="prestador.manInterContab"  />
  <input type="text" id="field_manInterContab" *ngIf="!prestador" class="form-control" name="manInterContab" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_observaciones">Observaciones</label>
  <input type="text" id="field_observaciones" *ngIf="prestador" class="form-control" name="observaciones" [(ngModel)]="prestador.observaciones"  />
  <input type="text" id="field_observaciones" *ngIf="!prestador" class="form-control" name="observaciones" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_itemListaTipoDocumento">Item Lista Tipo Documento</label>
  <input type="number" id="field_itemListaTipoDocumento" *ngIf="prestador" class="form-control" name="itemListaTipoDocumento" [(ngModel)]="prestador.itemListaTipoDocumento"  />
  <input type="number" id="field_itemListaTipoDocumento" *ngIf="!prestador" class="form-control" name="itemListaTipoDocumento" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_manAnticipoManual">Man Anticipo Manual</label>
  <input type="text" id="field_manAnticipoManual" *ngIf="prestador" class="form-control" name="manAnticipoManual" [(ngModel)]="prestador.manAnticipoManual"  />
  <input type="text" id="field_manAnticipoManual" *ngIf="!prestador" class="form-control" name="manAnticipoManual" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_proceanalitica">Proceanalitica</label>
  <input type="text" id="field_proceanalitica" *ngIf="prestador" class="form-control" name="proceanalitica" [(ngModel)]="prestador.proceanalitica"  />
  <input type="text" id="field_proceanalitica" *ngIf="!prestador" class="form-control" name="proceanalitica" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_imagen">Imagen</label>
  <input type="text" id="field_imagen" *ngIf="prestador" class="form-control" name="imagen" [(ngModel)]="prestador.imagen"  />
  <input type="text" id="field_imagen" *ngIf="!prestador" class="form-control" name="imagen" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_maxintentosPines">Maxintentos Pines</label>
  <input type="number" id="field_maxintentosPines" *ngIf="prestador" class="form-control" name="maxintentosPines" [(ngModel)]="prestador.maxintentosPines"  />
  <input type="number" id="field_maxintentosPines" *ngIf="!prestador" class="form-control" name="maxintentosPines" ngModel />
  </div>

          

            <div class="col-12 form-group" *ngIf="ciudads">
              <label for="field_ciudad">Ciudad</label>

              <select *ngIf="!prestador" class="form-control" name="idCiudad" ngModel>
                <option [ngValue]="null"></option>
                <option [ngValue]="ciudad._id" *ngFor="let ciudad of ciudads">{{ ciudad._id }}</option>
              </select>

              <select *ngIf="prestador && prestador.idCiudad" class="form-control" name="idCiudad" [(ngModel)]="prestador.idCiudad">
                <option [ngValue]="null"></option>
                <option [ngValue]="ciudad._id" *ngFor="let ciudad of ciudads">{{ ciudad._id }}</option>
              </select>
            </div>

          <div id="buttonsPanel" class="col-12 form-group">
            <button class="btn btn-dark cursor-pointer" (click)="save(myForm.value)" *ngIf="isCreate" [disabled]="myForm.form.invalid">
              <i class="fa fa-floppy-o fa-fw"></i>Registrar
            </button>
            <button class="btn btn-dark cursor-pointer" (click)="update()" *ngIf="!isCreate" [disabled]="myForm.form.invalid">
              <i class="fa fa-floppy-o fa-fw"></i>Actualizar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
