<div class="container m-top-and-bottom">
  <div class="card">
    <div class="card-header text-white text-center bg-dark">
      <h4>{{ crudOperationTitle }} Vale Electronico</h4>
    </div>
    <div class="card-body">
      <form #myForm="ngForm">
        <div class="row">
          <div *ngIf="valeElectronico && valeElectronico._id" class="col-md-12 form-group">
            <label for="field_id">ID</label>
            <input id="fiel_id" *ngIf="valeElectronico" type="text" class="form-control" name="id" [(ngModel)]="valeElectronico._id" disabled required>
          </div>
          
          
          <div class="col-12 form-group">
  <label for="field_servicio">Servicio</label>
  <input type="text" id="field_servicio" *ngIf="valeElectronico" class="form-control" name="servicio" [(ngModel)]="valeElectronico.servicio"  />
  <input type="text" id="field_servicio" *ngIf="!valeElectronico" class="form-control" name="servicio" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_codigoError">Codigo Error</label>
  <input type="text" id="field_codigoError" *ngIf="valeElectronico" class="form-control" name="codigoError" [(ngModel)]="valeElectronico.codigoError"  />
  <input type="text" id="field_codigoError" *ngIf="!valeElectronico" class="form-control" name="codigoError" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_descripcionError">Descripcion Error</label>
  <input type="text" id="field_descripcionError" *ngIf="valeElectronico" class="form-control" name="descripcionError" [(ngModel)]="valeElectronico.descripcionError"  />
  <input type="text" id="field_descripcionError" *ngIf="!valeElectronico" class="form-control" name="descripcionError" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_itemListaEstado">Item Lista Estado</label>
  <input type="number" id="field_itemListaEstado" *ngIf="valeElectronico" class="form-control" name="itemListaEstado" [(ngModel)]="valeElectronico.itemListaEstado"  />
  <input type="number" id="field_itemListaEstado" *ngIf="!valeElectronico" class="form-control" name="itemListaEstado" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_fechaRegistro">Fecha Registro</label>
  <input type="date" id="field_fechaRegistro" *ngIf="valeElectronico" class="form-control" name="fechaRegistro" [(ngModel)]="valeElectronico.fechaRegistro"  />
  <input type="date" id="field_fechaRegistro" *ngIf="!valeElectronico" class="form-control" name="fechaRegistro" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_loginRegistro">Login Registro</label>
  <input type="text" id="field_loginRegistro" *ngIf="valeElectronico" class="form-control" name="loginRegistro" [(ngModel)]="valeElectronico.loginRegistro"  />
  <input type="text" id="field_loginRegistro" *ngIf="!valeElectronico" class="form-control" name="loginRegistro" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_observaciones">Observaciones</label>
  <input type="text" id="field_observaciones" *ngIf="valeElectronico" class="form-control" name="observaciones" [(ngModel)]="valeElectronico.observaciones"  />
  <input type="text" id="field_observaciones" *ngIf="!valeElectronico" class="form-control" name="observaciones" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_pin">Pin</label>
  <input type="text" id="field_pin" *ngIf="valeElectronico" class="form-control" name="pin" [(ngModel)]="valeElectronico.pin"  />
  <input type="text" id="field_pin" *ngIf="!valeElectronico" class="form-control" name="pin" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_idAdmision">Id Admision</label>
  <input type="number" id="field_idAdmision" *ngIf="valeElectronico" class="form-control" name="idAdmision" [(ngModel)]="valeElectronico.idAdmision"  />
  <input type="number" id="field_idAdmision" *ngIf="!valeElectronico" class="form-control" name="idAdmision" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_contrato">Contrato</label>
  <input type="text" id="field_contrato" *ngIf="valeElectronico" class="form-control" name="contrato" [(ngModel)]="valeElectronico.contrato"  />
  <input type="text" id="field_contrato" *ngIf="!valeElectronico" class="form-control" name="contrato" ngModel />
  </div>

          


          <div id="buttonsPanel" class="col-12 form-group">
            <button class="btn btn-dark cursor-pointer" (click)="save(myForm.value)" *ngIf="isCreate" [disabled]="myForm.form.invalid">
              <i class="fa fa-floppy-o fa-fw"></i>Registrar
            </button>
            <button class="btn btn-dark cursor-pointer" (click)="update()" *ngIf="!isCreate" [disabled]="myForm.form.invalid">
              <i class="fa fa-floppy-o fa-fw"></i>Actualizar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
