<div class="container m-top-and-bottom">
  <div class="card">
    <div class="card-header text-white text-center bg-dark">
      <h4>{{ crudOperationTitle }} Motivo</h4>
    </div>
    <div class="card-body">
      <form #myForm="ngForm">
        <div class="row">
          <div *ngIf="motivo && motivo._id" class="col-md-12 form-group">
            <label for="field_id">ID</label>
            <input id="fiel_id" *ngIf="motivo" type="text" class="form-control" name="id" [(ngModel)]="motivo._id" disabled required>
          </div>
          
          
          <div class="col-12 form-group">
  <label for="field_motivo">Motivo</label>
  <input type="text" id="field_motivo" *ngIf="motivo" class="form-control" name="motivo" [(ngModel)]="motivo.motivo"  />
  <input type="text" id="field_motivo" *ngIf="!motivo" class="form-control" name="motivo" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_descripcion">Descripcion</label>
  <input type="text" id="field_descripcion" *ngIf="motivo" class="form-control" name="descripcion" [(ngModel)]="motivo.descripcion"  />
  <input type="text" id="field_descripcion" *ngIf="!motivo" class="form-control" name="descripcion" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_fechaRegistro">Fecha Registro</label>
  <input type="date" id="field_fechaRegistro" *ngIf="motivo" class="form-control" name="fechaRegistro" [(ngModel)]="motivo.fechaRegistro"  />
  <input type="date" id="field_fechaRegistro" *ngIf="!motivo" class="form-control" name="fechaRegistro" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_loginRegistro">Login Registro</label>
  <input type="text" id="field_loginRegistro" *ngIf="motivo" class="form-control" name="loginRegistro" [(ngModel)]="motivo.loginRegistro"  />
  <input type="text" id="field_loginRegistro" *ngIf="!motivo" class="form-control" name="loginRegistro" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_observaciones">Observaciones</label>
  <input type="text" id="field_observaciones" *ngIf="motivo" class="form-control" name="observaciones" [(ngModel)]="motivo.observaciones"  />
  <input type="text" id="field_observaciones" *ngIf="!motivo" class="form-control" name="observaciones" ngModel />
  </div>

          

            <div class="col-12 form-group" *ngIf="tipoMotivos">
              <label for="field_tipoMotivo">Tipo Motivo</label>

              <select *ngIf="!motivo" class="form-control" name="idTipoMotivo" ngModel>
                <option [ngValue]="null"></option>
                <option [ngValue]="tipoMotivo._id" *ngFor="let tipoMotivo of tipoMotivos">{{ tipoMotivo._id }}</option>
              </select>

              <select *ngIf="motivo && motivo.idTipoMotivo" class="form-control" name="idTipoMotivo" [(ngModel)]="motivo.idTipoMotivo">
                <option [ngValue]="null"></option>
                <option [ngValue]="tipoMotivo._id" *ngFor="let tipoMotivo of tipoMotivos">{{ tipoMotivo._id }}</option>
              </select>
            </div>

          <div id="buttonsPanel" class="col-12 form-group">
            <button class="btn btn-dark cursor-pointer" (click)="save(myForm.value)" *ngIf="isCreate" [disabled]="myForm.form.invalid">
              <i class="fa fa-floppy-o fa-fw"></i>Registrar
            </button>
            <button class="btn btn-dark cursor-pointer" (click)="update()" *ngIf="!isCreate" [disabled]="myForm.form.invalid">
              <i class="fa fa-floppy-o fa-fw"></i>Actualizar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
