<div *ngIf="entidad" class="container-fluid">
  <h3 class="m-top-and-bottom-2">Entidad</h3>
  <hr />
  <dl>
    <dt>ID</dt>
    <dd>{{ entidad._id }}</dd>

  
    <dt>Entidad</dt>
    <dd>{{ entidad.entidad }}</dd>

    <dt>Man Cita</dt>
    <dd>{{ entidad.manCita }}</dd>

    <dt>Tiempo Cub Ext</dt>
    <dd>{{ entidad.tiempoCubExt }}</dd>

    <dt>Item Lista Tipo Entidad</dt>
    <dd>{{ entidad.itemListaTipoEntidad }}</dd>

    <dt>Entidad Osi</dt>
    <dd>{{ entidad.entidadOsi }}</dd>

    <dt>Maneja Capitacion</dt>
    <dd>{{ entidad.manejaCapitacion }}</dd>

    <dt>Cod Barras Doc</dt>
    <dd>{{ entidad.codBarrasDoc }}</dd>

    <dt>Cadu For Procedqx</dt>
    <dd>{{ entidad.caduForProcedqx }}</dd>

    <dt>Maneja Corte</dt>
    <dd>{{ entidad.manejaCorte }}</dd>

    <dt>Valor Minimo Liquidacion</dt>
    <dd>{{ entidad.valorMinimoLiquidacion }}</dd>

    <dt>Dir Ip Entidad</dt>
    <dd>{{ entidad.dirIpEntidad }}</dd>

    <dt>Tiempo Cub Urg</dt>
    <dd>{{ entidad.tiempoCubUrg }}</dd>

    <dt>Item Lista Unidad Medida Primera Vez</dt>
    <dd>{{ entidad.itemListaUnidadMedidaPrimeraVez }}</dd>

    <dt>Tiempo Observa</dt>
    <dd>{{ entidad.tiempoObserva }}</dd>

    <dt>Fecha Registro</dt>
    <dd>{{ entidad.fechaRegistro }}</dd>

    <dt>Vlr Top Por</dt>
    <dd>{{ entidad.vlrTopPor }}</dd>

    <dt>Maneja Med Familiar</dt>
    <dd>{{ entidad.manejaMedFamiliar }}</dd>

    <dt>Num Doc</dt>
    <dd>{{ entidad.numDoc }}</dd>

    <dt>Tiempo Cub Vez</dt>
    <dd>{{ entidad.tiempoCubVez }}</dd>

    <dt>Planobh</dt>
    <dd>{{ entidad.planobh }}</dd>

    <dt>Maxentregasformulacronicos</dt>
    <dd>{{ entidad.maxentregasformulacronicos }}</dd>

    <dt>Cadu For Medicame</dt>
    <dd>{{ entidad.caduForMedicame }}</dd>

    <dt>Item Lista Unidad Medida Odontologia</dt>
    <dd>{{ entidad.itemListaUnidadMedidaOdontologia }}</dd>

    <dt>Nro Med For</dt>
    <dd>{{ entidad.nroMedFor }}</dd>

    <dt>Item Lista Unidad Medida Externa</dt>
    <dd>{{ entidad.itemListaUnidadMedidaExterna }}</dd>

    <dt>Item Lista Unidad Medida Urgencia</dt>
    <dd>{{ entidad.itemListaUnidadMedidaUrgencia }}</dd>

    <dt>Man Topes</dt>
    <dd>{{ entidad.manTopes }}</dd>

    <dt>Ped Autoriza</dt>
    <dd>{{ entidad.pedAutoriza }}</dd>

    <dt>Responsable</dt>
    <dd>{{ entidad.responsable }}</dd>

    <dt>Man Conv Med</dt>
    <dd>{{ entidad.manConvMed }}</dd>

    <dt>Login Registro</dt>
    <dd>{{ entidad.loginRegistro }}</dd>

    <dt>Tiempo Cub Odontologico</dt>
    <dd>{{ entidad.tiempoCubOdontologico }}</dd>

    <dt>Man Paq No Quirur</dt>
    <dd>{{ entidad.manPaqNoQuirur }}</dd>

    <dt>Fecha Convenio</dt>
    <dd>{{ entidad.fechaConvenio }}</dd>

    <dt>Num Cortes Mes</dt>
    <dd>{{ entidad.numCortesMes }}</dd>

    <dt>Descripcion</dt>
    <dd>{{ entidad.descripcion }}</dd>

    <dt>Observaciones</dt>
    <dd>{{ entidad.observaciones }}</dd>

    <dt>Man Web Nuevo</dt>
    <dd>{{ entidad.manWebNuevo }}</dd>

    <dt>Direccion</dt>
    <dd>{{ entidad.direccion }}</dd>

    <dt>Top Liq Cirugia</dt>
    <dd>{{ entidad.topLiqCirugia }}</dd>

    <dt>Valor Maximo Liquidacion</dt>
    <dd>{{ entidad.valorMaximoLiquidacion }}</dd>

    <dt>Montoxproce</dt>
    <dd>{{ entidad.montoxproce }}</dd>

    <dt>Maneja Porcentaje Incremento</dt>
    <dd>{{ entidad.manejaPorcentajeIncremento }}</dd>

    <dt>Manprogcronicos</dt>
    <dd>{{ entidad.manprogcronicos }}</dd>

    <dt>Maneja Corte Anual</dt>
    <dd>{{ entidad.manejaCorteAnual }}</dd>

    <dt>Man Nueva Afiliacion</dt>
    <dd>{{ entidad.manNuevaAfiliacion }}</dd>

    <dt>Cod Barr Dig Ctrl</dt>
    <dd>{{ entidad.codBarrDigCtrl }}</dd>

    <dt>Cod Barras Carnet</dt>
    <dd>{{ entidad.codBarrasCarnet }}</dd>

    <dt>Bd Estado Ext</dt>
    <dd>{{ entidad.bdEstadoExt }}</dd>

    <dt>Man Top Por</dt>
    <dd>{{ entidad.manTopPor }}</dd>

    <dt>Maneja Copago</dt>
    <dd>{{ entidad.manejaCopago }}</dd>

    <dt>Maneja Proteccion Datos</dt>
    <dd>{{ entidad.manejaProteccionDatos }}</dd>

    <dt>Con Sin Conv</dt>
    <dd>{{ entidad.conSinConv }}</dd>

    <dt>Cadu For Proced</dt>
    <dd>{{ entidad.caduForProced }}</dd>

    <dt>Confirmacion Manual</dt>
    <dd>{{ entidad.confirmacionManual }}</dd>

    <dt>Email</dt>
    <dd>{{ entidad.email }}</dd>

    <dt>Fax</dt>
    <dd>{{ entidad.fax }}</dd>

    <dt>Cargos</dt>
    <dd>{{ entidad.cargos }}</dd>

    <dt>Ver Estado Pac</dt>
    <dd>{{ entidad.verEstadoPac }}</dd>

    <dt>Item Lista Unidad Medida Observacion</dt>
    <dd>{{ entidad.itemListaUnidadMedidaObservacion }}</dd>

    <dt>Telefono</dt>
    <dd>{{ entidad.telefono }}</dd>

    <dt>Item Lista Tipo Usuario</dt>
    <dd>{{ entidad.itemListaTipoUsuario }}</dd>

    <dt>Maneja Recaudo</dt>
    <dd>{{ entidad.manejaRecaudo }}</dd>

    <dt>No Cargos</dt>
    <dd>{{ entidad.noCargos }}</dd>

    <dt>Convenio Inter</dt>
    <dd>{{ entidad.convenioInter }}</dd>

    <dt>Ped Aut Medicame</dt>
    <dd>{{ entidad.pedAutMedicame }}</dd>

    <dt>Niv Val Primeravez</dt>
    <dd>{{ entidad.nivValPrimeravez }}</dd>

    <dt>Item Lista Tipo Documento</dt>
    <dd>{{ entidad.itemListaTipoDocumento }}</dd>

    <dt>Man Capitacionodo</dt>
    <dd>{{ entidad.manCapitacionodo }}</dd>

    <dt>Num Diascalend</dt>
    <dd>{{ entidad.numDiascalend }}</dd>

    <dt>Cod Interno</dt>
    <dd>{{ entidad.codInterno }}</dd>

    <dt>Ciudad</dt>
    <dd>
      <a [routerLink]="['/entities', 'ciudad', entidad.ciudad._id]">{{ entidad.ciudad._id }}</a>
    </dd>
  </dl>
  <a routerLink="update" class="btn btn-primary"><i class="fa fa-refresh fa-fw"></i>Actualizar</a>

  <app-anticipo-list [anticipos]="entidad.anticipos"></app-anticipo-list>
  <app-auditoria-contrato-list [auditoriaContratos]="entidad.auditoriaContratos"></app-auditoria-contrato-list>
  <app-cama-plan-list [camaPlans]="entidad.camaPlans"></app-cama-plan-list>
  <app-cargo-automatico-list [cargoAutomaticos]="entidad.cargoAutomaticos"></app-cargo-automatico-list>
  <app-cargos-pendientes-list [cargosPendientess]="entidad.cargosPendientess"></app-cargos-pendientes-list>
  <app-cita-retraso-list [citaRetrasos]="entidad.citaRetrasos"></app-cita-retraso-list>
  <app-detalle-cargos-pendientes-list [detalleCargosPendientess]="entidad.detalleCargosPendientess"></app-detalle-cargos-pendientes-list>
  <app-entidad-uvr-list [entidadUvrs]="entidad.entidadUvrs"></app-entidad-uvr-list>
  <app-eps-recobrable-list [epsRecobrables]="entidad.epsRecobrables"></app-eps-recobrable-list>
  <app-excepcion-regargo-list [excepcionRegargos]="entidad.excepcionRegargos"></app-excepcion-regargo-list>
  <app-homologacion-servicios-agfa-list [homologacionServiciosAgfas]="entidad.homologacionServiciosAgfas"></app-homologacion-servicios-agfa-list>
  <app-paciente-inconsistencias-list [pacienteInconsistenciass]="entidad.pacienteInconsistenciass"></app-paciente-inconsistencias-list>
  <app-procedimiento-entidad-list [procedimientoEntidads]="entidad.procedimientoEntidads"></app-procedimiento-entidad-list>
  <app-recalculo-automatico-list [recalculoAutomaticos]="entidad.recalculoAutomaticos"></app-recalculo-automatico-list>
  <app-sucursal-list [sucursals]="entidad.sucursals"></app-sucursal-list>
  <app-sucursal-entidad-list [sucursalEntidads]="entidad.sucursalEntidads"></app-sucursal-entidad-list>
  <app-tipo-cirugia-list [tipoCirugias]="entidad.tipoCirugias"></app-tipo-cirugia-list>
  <app-tipo-plan-list [tipoPlans]="entidad.tipoPlans"></app-tipo-plan-list>
  <app-entidad-admision-list [entidadAdmisions]="entidad.entidadAdmisions"></app-entidad-admision-list>
  <app-excepcion-producto-list [excepcionProductos]="entidad.excepcionProductos"></app-excepcion-producto-list>
  <app-grupo-etareo-list [grupoEtareos]="entidad.grupoEtareos"></app-grupo-etareo-list>
  <app-homologacion-entidad-list [homologacionEntidads]="entidad.homologacionEntidads"></app-homologacion-entidad-list>
  <app-homologacion-entidad-list [homologacionEntidads]="entidad.homologacionEntidads"></app-homologacion-entidad-list>
  <app-medicamento-alto-costo-list [medicamentoAltoCostos]="entidad.medicamentoAltoCostos"></app-medicamento-alto-costo-list>
  <app-planes-list [planess]="entidad.planess"></app-planes-list>
  <app-recargo-automatico-list [recargoAutomaticos]="entidad.recargoAutomaticos"></app-recargo-automatico-list>
  <app-tipos-documento-entidad-list [tiposDocumentoEntidads]="entidad.tiposDocumentoEntidads"></app-tipos-documento-entidad-list>
  <app-triage-list [triages]="entidad.triages"></app-triage-list>
</div>
