<div class="container m-top-and-bottom">
  <div class="card">
    <div class="card-header text-white text-center bg-dark">
      <h4>{{ crudOperationTitle }} Excepcion Regargo</h4>
    </div>
    <div class="card-body">
      <form #myForm="ngForm">
        <div class="row">
          <div *ngIf="excepcionRegargo && excepcionRegargo._id" class="col-md-12 form-group">
            <label for="field_id">ID</label>
            <input id="fiel_id" *ngIf="excepcionRegargo" type="text" class="form-control" name="id" [(ngModel)]="excepcionRegargo._id" disabled required>
          </div>
          
          
          <div class="col-12 form-group">
  <label for="field_porcentaje">Porcentaje</label>
  <input type="number" id="field_porcentaje" *ngIf="excepcionRegargo" class="form-control" name="porcentaje" [(ngModel)]="excepcionRegargo.porcentaje"  />
  <input type="number" id="field_porcentaje" *ngIf="!excepcionRegargo" class="form-control" name="porcentaje" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_valor">Valor</label>
  <input type="number" id="field_valor" *ngIf="excepcionRegargo" class="form-control" name="valor" [(ngModel)]="excepcionRegargo.valor"  />
  <input type="number" id="field_valor" *ngIf="!excepcionRegargo" class="form-control" name="valor" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_fechaRegistro">Fecha Registro</label>
  <input type="date" id="field_fechaRegistro" *ngIf="excepcionRegargo" class="form-control" name="fechaRegistro" [(ngModel)]="excepcionRegargo.fechaRegistro"  />
  <input type="date" id="field_fechaRegistro" *ngIf="!excepcionRegargo" class="form-control" name="fechaRegistro" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_loginRegistro">Login Registro</label>
  <input type="text" id="field_loginRegistro" *ngIf="excepcionRegargo" class="form-control" name="loginRegistro" [(ngModel)]="excepcionRegargo.loginRegistro"  />
  <input type="text" id="field_loginRegistro" *ngIf="!excepcionRegargo" class="form-control" name="loginRegistro" ngModel />
  </div>

          
          <div class="col-12 form-group">
  <label for="field_observaciones">Observaciones</label>
  <input type="text" id="field_observaciones" *ngIf="excepcionRegargo" class="form-control" name="observaciones" [(ngModel)]="excepcionRegargo.observaciones"  />
  <input type="text" id="field_observaciones" *ngIf="!excepcionRegargo" class="form-control" name="observaciones" ngModel />
  </div>

          
          <div class="col-12 form-check">
  <label class="custom-control custom-checkbox">
    <input *ngIf="excepcionRegargo" type="checkbox" class="custom-control-input" name="itemListaEstado"  [(ngModel)]="excepcionRegargo.itemListaEstado" />
    <input *ngIf="!excepcionRegargo" type="checkbox" class="custom-control-input" name="itemListaEstado" ngModel />
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Item Lista Estado</span>
      </label>
</div>

          
          <div class="col-12 form-group">
  <label for="field_idPrestador">Id Prestador</label>
  <input type="number" id="field_idPrestador" *ngIf="excepcionRegargo" class="form-control" name="idPrestador" [(ngModel)]="excepcionRegargo.idPrestador"  />
  <input type="number" id="field_idPrestador" *ngIf="!excepcionRegargo" class="form-control" name="idPrestador" ngModel />
  </div>

          

            <div class="col-12 form-group" *ngIf="sucursals">
              <label for="field_sucursal">Sucursal</label>

              <select *ngIf="!excepcionRegargo" class="form-control" name="idSucursal" ngModel>
                <option [ngValue]="null"></option>
                <option [ngValue]="sucursal._id" *ngFor="let sucursal of sucursals">{{ sucursal._id }}</option>
              </select>

              <select *ngIf="excepcionRegargo && excepcionRegargo.idSucursal" class="form-control" name="idSucursal" [(ngModel)]="excepcionRegargo.idSucursal">
                <option [ngValue]="null"></option>
                <option [ngValue]="sucursal._id" *ngFor="let sucursal of sucursals">{{ sucursal._id }}</option>
              </select>
            </div>
            <div class="col-12 form-group" *ngIf="tipoAdmisions">
              <label for="field_tipoAdmision">Tipo Admision</label>

              <select *ngIf="!excepcionRegargo" class="form-control" name="idTipoAdmision" ngModel>
                <option [ngValue]="null"></option>
                <option [ngValue]="tipoAdmision._id" *ngFor="let tipoAdmision of tipoAdmisions">{{ tipoAdmision._id }}</option>
              </select>

              <select *ngIf="excepcionRegargo && excepcionRegargo.idTipoAdmision" class="form-control" name="idTipoAdmision" [(ngModel)]="excepcionRegargo.idTipoAdmision">
                <option [ngValue]="null"></option>
                <option [ngValue]="tipoAdmision._id" *ngFor="let tipoAdmision of tipoAdmisions">{{ tipoAdmision._id }}</option>
              </select>
            </div>
            <div class="col-12 form-group" *ngIf="entidads">
              <label for="field_entidad">Entidad</label>

              <select *ngIf="!excepcionRegargo" class="form-control" name="idEntidad" ngModel>
                <option [ngValue]="null"></option>
                <option [ngValue]="entidad._id" *ngFor="let entidad of entidads">{{ entidad._id }}</option>
              </select>

              <select *ngIf="excepcionRegargo && excepcionRegargo.idEntidad" class="form-control" name="idEntidad" [(ngModel)]="excepcionRegargo.idEntidad">
                <option [ngValue]="null"></option>
                <option [ngValue]="entidad._id" *ngFor="let entidad of entidads">{{ entidad._id }}</option>
              </select>
            </div>
            <div class="col-12 form-group" *ngIf="procedimientos">
              <label for="field_procedimiento">Procedimiento</label>

              <select *ngIf="!excepcionRegargo" class="form-control" name="idProcedimiento" ngModel>
                <option [ngValue]="null"></option>
                <option [ngValue]="procedimiento._id" *ngFor="let procedimiento of procedimientos">{{ procedimiento._id }}</option>
              </select>

              <select *ngIf="excepcionRegargo && excepcionRegargo.idProcedimiento" class="form-control" name="idProcedimiento" [(ngModel)]="excepcionRegargo.idProcedimiento">
                <option [ngValue]="null"></option>
                <option [ngValue]="procedimiento._id" *ngFor="let procedimiento of procedimientos">{{ procedimiento._id }}</option>
              </select>
            </div>

          <div id="buttonsPanel" class="col-12 form-group">
            <button class="btn btn-dark cursor-pointer" (click)="save(myForm.value)" *ngIf="isCreate" [disabled]="myForm.form.invalid">
              <i class="fa fa-floppy-o fa-fw"></i>Registrar
            </button>
            <button class="btn btn-dark cursor-pointer" (click)="update()" *ngIf="!isCreate" [disabled]="myForm.form.invalid">
              <i class="fa fa-floppy-o fa-fw"></i>Actualizar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
