<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="m-top-and-bottom-2">
            <span>Par Origen Informacion</span>
            <a class="btn btn-primary float-right" [routerLink]="[ absolutePath, 'create']" data-dismiss="modal">
              <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
              Crear Nuevo Par Origen Informacion
            </a>
          </h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-responsive" *ngIf="parOrigenInformacions">
          <thead>
            <tr>
              <th class="cursor-pointer" (click)="sort('codigo')">
                Codigo
                <i class="fa" [ngClass]="{'fa-sort': column != 'codigo', 'fa-sort-asc': (column == 'codigo' && isDesc), 'fa-sort-desc': (column == 'codigo' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('descripcion')">
                Descripcion
                <i class="fa" [ngClass]="{'fa-sort': column != 'descripcion', 'fa-sort-asc': (column == 'descripcion' && isDesc), 'fa-sort-desc': (column == 'descripcion' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('tabla')">
                Tabla
                <i class="fa" [ngClass]="{'fa-sort': column != 'tabla', 'fa-sort-asc': (column == 'tabla' && isDesc), 'fa-sort-desc': (column == 'tabla' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('filtro')">
                Filtro
                <i class="fa" [ngClass]="{'fa-sort': column != 'filtro', 'fa-sort-asc': (column == 'filtro' && isDesc), 'fa-sort-desc': (column == 'filtro' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('orden')">
                Orden
                <i class="fa" [ngClass]="{'fa-sort': column != 'orden', 'fa-sort-asc': (column == 'orden' && isDesc), 'fa-sort-desc': (column == 'orden' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('fechaRegistro')">
                Fecha Registro
                <i class="fa" [ngClass]="{'fa-sort': column != 'fechaRegistro', 'fa-sort-asc': (column == 'fechaRegistro' && isDesc), 'fa-sort-desc': (column == 'fechaRegistro' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('loginRegistro')">
                Login Registro
                <i class="fa" [ngClass]="{'fa-sort': column != 'loginRegistro', 'fa-sort-asc': (column == 'loginRegistro' && isDesc), 'fa-sort-desc': (column == 'loginRegistro' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('observaciones')">
                Observaciones
                <i class="fa" [ngClass]="{'fa-sort': column != 'observaciones', 'fa-sort-asc': (column == 'observaciones' && isDesc), 'fa-sort-desc': (column == 'observaciones' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('identificador')">
                Identificador
                <i class="fa" [ngClass]="{'fa-sort': column != 'identificador', 'fa-sort-asc': (column == 'identificador' && isDesc), 'fa-sort-desc': (column == 'identificador' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let parOrigenInformacion of parOrigenInformacions | orderBy: { property: column, direction: direction }">
              <td>{{ parOrigenInformacion.codigo }}</td>
              <td>{{ parOrigenInformacion.descripcion }}</td>
              <td>{{ parOrigenInformacion.tabla }}</td>
              <td>{{ parOrigenInformacion.filtro }}</td>
              <td>{{ parOrigenInformacion.orden }}</td>
              <td>{{ parOrigenInformacion.fechaRegistro }}</td>
              <td>{{ parOrigenInformacion.loginRegistro }}</td>
              <td>{{ parOrigenInformacion.observaciones }}</td>
              <td>{{ parOrigenInformacion.identificador }}</td>
              <td>
                <a class="btn btn-info btn-sm" [routerLink]="[ absolutePath, parOrigenInformacion._id]"><span class="fa fa-eye fa-fw"></span>Ver</a>
                <a class="btn btn-primary btn-sm" [routerLink]="[ absolutePath, parOrigenInformacion._id, 'update']"><span class="fa fa-pencil fa-fw"></span>Editar</a>
                <a class="btn btn-danger btn-sm text-white cursor-pointer" (click)="openDeleteModal(content, parOrigenInformacion._id)"><span class="fa fa-trash fa-fw"></span>Eliminar</a>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title"><i class="fa fa-exclamation-triangle fa-lg fa-fw" aria-hidden="true"></i>¿Esta seguro de eliminar?</h5>
    <button type="button" class="close cursor-pointer" aria-label="Close" (click)="d(deleteModalOpts.cancel)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary cursor-pointer" (click)="c(deleteModalOpts.ok)"><i class="fa fa-check fa-fw"></i>Aceptar</button>
    <button type="button" class="btn btn-secondary cursor-pointer" (click)="c(deleteModalOpts.cancel)"><i class="fa fa-ban fa-fw"></i>Cancelar</button>
  </div>
</ng-template>
