<div *ngIf="medicoSucursal" class="container">
  <h3 class="m-top-and-bottom-2">Medico Sucursal</h3>
  <hr />
  <dl>
    <dt>ID</dt>
    <dd>{{ medicoSucursal._id }}</dd>

  
    <dt>Id Sucursal</dt>
    <dd>{{ medicoSucursal.idSucursal }}</dd>

    <dt>Item Lista Reemplazo</dt>
    <dd>{{ medicoSucursal.itemListaReemplazo }}</dd>

    <dt>Id Medico Reemplazo</dt>
    <dd>{{ medicoSucursal.idMedicoReemplazo }}</dd>

    <dt>Telefono Consultorio Medico</dt>
    <dd>{{ medicoSucursal.telefonoConsultorioMedico }}</dd>

    <dt>Item Lista Minimo Mensual</dt>
    <dd>{{ medicoSucursal.itemListaMinimoMensual }}</dd>

    <dt>Item Lista Nivel Medico</dt>
    <dd>{{ medicoSucursal.itemListaNivelMedico }}</dd>

    <dt>Valor Porcentaje</dt>
    <dd>{{ medicoSucursal.valorPorcentaje }}</dd>

    <dt>Valor Sueldo</dt>
    <dd>{{ medicoSucursal.valorSueldo }}</dd>

    <dt>Item Lista Minimo Anual</dt>
    <dd>{{ medicoSucursal.itemListaMinimoAnual }}</dd>

    <dt>Valor Minimo Mensual</dt>
    <dd>{{ medicoSucursal.valorMinimoMensual }}</dd>

    <dt>Id Concepto Sueldo</dt>
    <dd>{{ medicoSucursal.idConceptoSueldo }}</dd>

    <dt>Alquiler Anual</dt>
    <dd>{{ medicoSucursal.alquilerAnual }}</dd>

    <dt>Asociacion</dt>
    <dd>{{ medicoSucursal.asociacion }}</dd>

    <dt>Item Lista Sueldo</dt>
    <dd>{{ medicoSucursal.itemListaSueldo }}</dd>

    <dt>Id Especialidad</dt>
    <dd>{{ medicoSucursal.idEspecialidad }}</dd>

    <dt>Login Registro</dt>
    <dd>{{ medicoSucursal.loginRegistro }}</dd>

    <dt>Alquiler Hora</dt>
    <dd>{{ medicoSucursal.alquilerHora }}</dd>

    <dt>Id Concepto Porcentaje</dt>
    <dd>{{ medicoSucursal.idConceptoPorcentaje }}</dd>

    <dt>Item Lista Tipo Descuento</dt>
    <dd>{{ medicoSucursal.itemListaTipoDescuento }}</dd>

    <dt>Id Concepto Minimo Mensual</dt>
    <dd>{{ medicoSucursal.idConceptoMinimoMensual }}</dd>

    <dt>Item Lista Tipo Proveedor</dt>
    <dd>{{ medicoSucursal.itemListaTipoProveedor }}</dd>

    <dt>Id Concepto Alquiler</dt>
    <dd>{{ medicoSucursal.idConceptoAlquiler }}</dd>

    <dt>Direccion Casa Medico</dt>
    <dd>{{ medicoSucursal.direccionCasaMedico }}</dd>

    <dt>Item Lista Alquiler</dt>
    <dd>{{ medicoSucursal.itemListaAlquiler }}</dd>

    <dt>Direccion Consultorio Medico</dt>
    <dd>{{ medicoSucursal.direccionConsultorioMedico }}</dd>

    <dt>Fecha Registro</dt>
    <dd>{{ medicoSucursal.fechaRegistro }}</dd>

    <dt>Item Lista Tipo Cargo</dt>
    <dd>{{ medicoSucursal.itemListaTipoCargo }}</dd>

    <dt>Observaciones</dt>
    <dd>{{ medicoSucursal.observaciones }}</dd>

    <dt>Fecha Final Remision</dt>
    <dd>{{ medicoSucursal.fechaFinalRemision }}</dd>

    <dt>Item Lista Tipo Servicio Concertado</dt>
    <dd>{{ medicoSucursal.itemListaTipoServicioConcertado }}</dd>

    <dt>Alquiler Semanal</dt>
    <dd>{{ medicoSucursal.alquilerSemanal }}</dd>

    <dt>Item Lista Estado Medico Sucursal</dt>
    <dd>{{ medicoSucursal.itemListaEstadoMedicoSucursal }}</dd>

    <dt>Telefono Casa Medico</dt>
    <dd>{{ medicoSucursal.telefonoCasaMedico }}</dd>

    <dt>Valor Minimo Anual</dt>
    <dd>{{ medicoSucursal.valorMinimoAnual }}</dd>

    <dt>Id Concepto Minimo Anual</dt>
    <dd>{{ medicoSucursal.idConceptoMinimoAnual }}</dd>

    <dt>Irpf</dt>
    <dd>{{ medicoSucursal.irpf }}</dd>

    <dt>Fecha Inicial Remision</dt>
    <dd>{{ medicoSucursal.fechaInicialRemision }}</dd>

    <dt>Alquiler Mensual</dt>
    <dd>{{ medicoSucursal.alquilerMensual }}</dd>

    <dt>Id Medico</dt>
    <dd>{{ medicoSucursal.idMedico }}</dd>

    <dt>Item Lista Urgencias</dt>
    <dd>{{ medicoSucursal.itemListaUrgencias }}</dd>

    <dt>Iva Arriendo</dt>
    <dd>{{ medicoSucursal.ivaArriendo }}</dd>

  </dl>
  <a routerLink="update" class="btn btn-primary"><i class="fa fa-refresh fa-fw"></i>Actualizar</a>

</div>
