<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="jumbotron">
                <h1>Administración entidades paramétricas Sanitas - Cargos Y Facturación</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, labore culpa rerum, quis molestias temporibus laudantium eligendi voluptas earum voluptatum nulla. Assumenda, nisi corporis consectetur at iure mollitia ut incidunt!</p>
            </div>
        </div>
        <div class="panel-footer">Intergrupo 2017</div>
    </div>
</div>