<div *ngIf="consumoSoatOtraIps" class="container">
  <h3 class="m-top-and-bottom-2">Consumo Soat Otra Ips</h3>
  <hr />
  <dl>
    <dt>ID</dt>
    <dd>{{ consumoSoatOtraIps._id }}</dd>

  
    <dt>Id Admision</dt>
    <dd>{{ consumoSoatOtraIps.idAdmision }}</dd>

    <dt>Fecha Atencion</dt>
    <dd>{{ consumoSoatOtraIps.fechaAtencion }}</dd>

    <dt>Id Entidad</dt>
    <dd>{{ consumoSoatOtraIps.idEntidad }}</dd>

    <dt>Poliza</dt>
    <dd>{{ consumoSoatOtraIps.poliza }}</dd>

    <dt>Id Paciente</dt>
    <dd>{{ consumoSoatOtraIps.idPaciente }}</dd>

    <dt>Observaciones Soporte</dt>
    <dd>{{ consumoSoatOtraIps.observacionesSoporte }}</dd>

    <dt>Nombre Ips</dt>
    <dd>{{ consumoSoatOtraIps.nombreIps }}</dd>

    <dt>Monto</dt>
    <dd>{{ consumoSoatOtraIps.monto }}</dd>

    <dt>Fecha Registro</dt>
    <dd>{{ consumoSoatOtraIps.fechaRegistro }}</dd>

    <dt>Login Registro</dt>
    <dd>{{ consumoSoatOtraIps.loginRegistro }}</dd>

    <dt>Observaciones</dt>
    <dd>{{ consumoSoatOtraIps.observaciones }}</dd>

  </dl>
  <a routerLink="update" class="btn btn-primary"><i class="fa fa-refresh fa-fw"></i>Actualizar</a>

</div>
